@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniButtonComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@if (Href.IsNotNullOrWhiteSpace()) {
    <a href="@ComputedHref"
       class="@(ConcatClasses(Class, ContainerClasses, AutoWidth ? string.Empty : "flex-none w-fit")) inline-flex items-center justify-center transition-all duration-150 transform overflow-visible"
       @onmouseenter="@OnMouseEnterAsync"
       @onmouseleave="@OnMouseExitAsync">
        @ButtonContent
    </a>
}
else {
    <button @onclick="@OnClickAsync"
            onclick:stopPropagation="@StopPropagation"
            type="button"
            disabled="@IsDisabled"
            aria-label="@AriaLabel"
            @onmouseenter="@OnMouseEnterAsync"
            @onmouseleave="@OnMouseExitAsync"
            class="@(ConcatClasses(Class, ContainerClasses, AutoWidth ? string.Empty : "flex-none w-fit")) inline-flex items-center justify-center transition-all duration-150 transform overflow-visible"
            >
        @ButtonContent
    </button>
}
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public Color Color { get; set; } = Color.Default;
    
    [Parameter] public bool OnHover { get; set; }
    [Parameter] public EventCallback<bool> OnHoverChanged { get; set; }
    [Parameter] public bool AutoWidth { get; set; }
    
    public const string ContainerReaction = "cursor-pointer active:scale-95 hover:transform hover:transition hover:ease-in hover:duration-200 overflow-visible";
    private const string Rounding = "rounded-md";

    public const string DefaultCssClasses = "overload-bg-infini-button-default text-infini-button-default-text hover:text-infini-button-default-text-hover hover:overload-bg-infini-button-default-hover";
    protected virtual string CssDefault => DefaultCssClasses;
    protected virtual string CssColor => ConcatClasses(Color.ToCssClassBackground(), Color.ToCssClassTextColorReadableForeground());
    
    private string ContainerClasses => Color switch {
        _ when IsDisabled => ConcatClasses(
            ContainerSizeClasses,
            Rounding,
            "overload-bg-infini-button-disabled text-infini-button-disabled-text opacity-50 cursor-not-allowed"
        ),
        
        Color.Default =>  ConcatClasses(
            ContainerReaction,
            Rounding,
            ContainerSizeClasses,
            CssDefault
        ),
            
        _ => ConcatClasses(
            ContainerReaction,
            Rounding,
            ContainerSizeClasses,
            CssColor
        )
    };

    private string ContainerSizeClasses => Size switch {
        Size.Xxs => "px-2 py-1 text-xs",
        Size.Xs => "px-2 py-1 text-sm",
        Size.S => "px-2 py-1 text-base",
        Size.M => "px-2 py-1 text-lg",
        Size.L => "px-2 py-1 text-xl",
        Size.Xl => "px-2 py-1 text-2xl",
        Size.Xxl => "px-2 py-1 text-3xl",
        _ => string.Empty
    };

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnMouseEnterAsync() {
        OnHover = true;
        SuppressRendering();
        await OnHoverChanged.InvokeAsync(OnHover);
    }
    private async Task OnMouseExitAsync() {
        OnHover = false;
        SuppressRendering();
        await OnHoverChanged.InvokeAsync(OnHover);
    }
}
