@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Callouts
@using InfiniLore.Lucide
@using System.Diagnostics.CodeAnalysis

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject ICalloutStyleProvider CalloutStyleProvider
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div
    class="@ConcatClasses(Class, Style.CssContainer) my-2 flex flex-col min-w-full min-h-lh pt-2 pb-3 px-3 border-l-4 border-y-1 border-r-1 rounded-r-xl">
    @* Top Banner *@
    <div class="@Style.CssTitle flex flex-row w-full gap-2 items-center">
        <div class="flex shrink">
            @if (Icon is not null) {
                @Icon
            }
            else if (TryGetIconName(out string? iconName)) {
                <LucideIcon Name="@iconName"/>
            }
        </div>

        <div class="flex grow w-full text-xl">
            @Title
        </div>

        @if (AllowCollapsing) {
            <InfiniButtonTransparentToolTipped
                Class="flex items-center justify-center"
                Size="Size.S"
                OnClick="@(() => IsCollapsed = !IsCollapsed)"
                IconName=""
                TooltipAnchor="Anchor.Left">
                <Content>
                    @if (IsCollapsed) {
                        <LiChevronDown Class="@Style.CssTitle"/>
                    }
                    else {
                        <LiChevronUp Class="@Style.CssTitle"/>
                    }
                </Content>
                <Tooltip>@(IsCollapsed ? "Open Callout" : "Close Callout")</Tooltip>
            </InfiniButtonTransparentToolTipped>
        }
    </div>

    @* Body *@
    <div
        class="@ConcatClasses(Style.CssBody, IsCollapsed ? "h-0 overflow-hidden opacity-0 pointer-events-none border-none" : "h-auto opacity-100 border-t-1 pt-2 mt-1") flex flex-col transition-all duration-300 ease-in-out">
        @Content
    </div>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter, EditorRequired] public RenderFragment Title { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public bool AllowCollapsing { get; set; }
    [Parameter] public bool IsCollapsed { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public string? IconName { get; set; }
    [Parameter] public string? StyleId { get; set; }

    private ICalloutStyle Style { get; set; } = CalloutStyle.Empty;


    protected override void OnParametersSet() {
        base.OnParametersSet();

        if (StyleId.IsNullOrWhiteSpace() || !CalloutStyleProvider.TryGetCalloutStyle(StyleId, out ICalloutStyle? style)) {
            Style = CalloutStyleProvider.DefaultStyle;
            return;
        }

        Style = style;
    }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private bool TryGetIconName([NotNullWhen(true)] out string? iconName) {
        if (IconName.IsNotNullOrWhiteSpace()) {
            iconName = IconName;
            return true;
        }

        if (Style.IconName.IsNotNullOrWhiteSpace()) {
            iconName = Style.IconName;
            return true;
        }

        iconName = CalloutStyleProvider.DefaultStyle.IconName;
        return iconName.IsNotNullOrWhiteSpace();
    }
}
    