@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Debugger
@using InfiniLore.InfiniBlazor.Dialogs
@using InfiniLore.InfiniBlazor.Theming
@using InfiniLore.InfiniBlazor.Toasting
@using InfiniLore.Lucide

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject IThemeStateProvider ThemeStateProvider
@inject IVisualDebuggerProvider DebuggerProvider
@inject IToastingProvider ToastingProvider
@inject IDialogProvider DialogProvider
@inherits InfiniNavBarBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html *@
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniNavBar @bind-NavBarCollapsed="CollapsedState" Size="Size.M" Location="NavBarLocation.Left">
    <div class="flex flex-row justify-between">
        <InfiniNavLink
            Href="/"
            Text="InfiniBlazor"
            Class="@ConcatClasses(HiddenIf(CollapsedState), "font-bold")"
            HiddenOnCollapsed
        />

        <InfiniNavCollapseButton @bind-State="CollapsedState" Class="h-10"/>
    </div>
    
    <InfiniNavBreak/>

    <InfiniSpacer/>
    
    <InfiniNavButton
        OnClick="@OnDialogCreateAsync"
        Text="Create Dialog"
        Icon="@LucideNames.Diamond"
    />
    
    <InfiniNavButton
        OnClick="@OnCreateToastAsync"
        Text="Create Toast"
        Icon="@LucideNames.Popcorn"
    />

    <InfiniNavToggleButton
        Value="@DebuggerProvider.IsEnabled()"
        ValueChanged="@DebuggerProvider.ToggleStateAsync"
        OnIcon="@LucideNames.Bug"
        OffIcon="@LucideNames.Bug"
        Color="Color.Red"
        Icon="@LucideNames.Bug"
        Text="Toggle Debug"/>

    @if (ThemeStateProvider.GetState().IsBinaryCollection) {
        <InfiniNavToggleButton
            Value="@(ToggleState)"
            ValueChanged="@OnThemeModeChanged"
            OnIcon="sun"
            OffIcon="moon"
            Icon="@LucideNames.Sun"
            Text="Toggle Mode"/>
    }
    else {
        <InfiniNavButton OnClick="@OnThemeModeChanged" Icon="@LucideNames.Sun" Text="Toggle Mode"/>
    }
</InfiniNavBar>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code *@
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {

    // State for user details
    private bool CollapsedState { get; set; }// Tracks whether the menu is collapsed
    private bool ToggleState { get; set; }


    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnCreateToastAsync() {
        IToastingData defaultToast = new ToastingData("default");
        IToastingData infoToast = new ToastingData("info");
        IToastingData successToast = new ToastingData("success");
        IToastingData warningToast = new ToastingData("warning");
        IToastingData errorToast = new ToastingData(
            "error",
            "Some DataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataData",
            "#",
            "click here"
        );

        IToastingData debugToast = new ToastingData("Debug");
        IToastingData achievementToast = new ToastingData("Achievement");

        await ToastingProvider.PublishToastAsync(defaultToast, ToastAppearance.Default, 0);
        await ToastingProvider.PublishToastAsync(infoToast, ToastAppearance.Info, 0);
        await ToastingProvider.PublishToastAsync(successToast, ToastAppearance.Success, 0);
        await ToastingProvider.PublishToastAsync(warningToast, ToastAppearance.Warning, 0);
        await ToastingProvider.PublishToastAsync(errorToast, ToastAppearance.Error, 0);
        await ToastingProvider.PublishToastAsync(debugToast, ToastAppearance.Debug, 0);
        await ToastingProvider.PublishToastAsync(achievementToast, ToastAppearance.Achievement, 0);
    }
    
    private async Task OnDialogCreateAsync() {
        await DialogProvider.PushDialogAsync(new InfiniDialogBasicDto(
            "A Simple Dialog 100",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim erat velit. Nulla eros ligula, dignissim quis enim in, sollicitudin sodales lorem. Praesent porttitor dui consectetur, consequat odio posuere, dapibus nibh. Vivamus ut nisi magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam volutpat, massa et interdum bibendum, enim tortor pharetra sem, sit amet laoreet lacus orci eu risus. Fusce feugiat sem nec mauris aliquam, et facilisis lorem euismod. Suspendisse dolor urna, fringilla vel sapien quis, egestas ultricies lorem. Phasellus lacinia tellus a ex mattis, in laoreet mi placerat. Vivamus ultricies nec arcu et maximus.",
            OnContinue: EventCallback.Factory.Create(this, CallbackOnContinue),
            OnReturn: EventCallback.Factory.Create(this, CallbackOnExit),
            OnExit: EventCallback.Factory.Create(this, CallbackOnExit)
        ) {
            Priority = 100
        });
        
        await DialogProvider.PushDialogAsync(new InfiniDialogBasicDto(
            "A Simple Dialog 0",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim erat velit. Nulla eros ligula, dignissim quis enim in, sollicitudin sodales lorem. Praesent porttitor dui consectetur, consequat odio posuere, dapibus nibh. Vivamus ut nisi magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam volutpat, massa et interdum bibendum, enim tortor pharetra sem, sit amet laoreet lacus orci eu risus. Fusce feugiat sem nec mauris aliquam, et facilisis lorem euismod. Suspendisse dolor urna, fringilla vel sapien quis, egestas ultricies lorem. Phasellus lacinia tellus a ex mattis, in laoreet mi placerat. Vivamus ultricies nec arcu et maximus.",
            OnContinue: EventCallback.Factory.Create(this, CallbackOnContinue),
            OnReturn: EventCallback.Factory.Create(this, CallbackOnExit),
            OnExit: EventCallback.Factory.Create(this, CallbackOnExit)
        ));
        
        await DialogProvider.PushDialogAsync(new InfiniDialogBasicDto(
            "A Simple Dialog 99",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim erat velit. Nulla eros ligula, dignissim quis enim in, sollicitudin sodales lorem. Praesent porttitor dui consectetur, consequat odio posuere, dapibus nibh. Vivamus ut nisi magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam volutpat, massa et interdum bibendum, enim tortor pharetra sem, sit amet laoreet lacus orci eu risus. Fusce feugiat sem nec mauris aliquam, et facilisis lorem euismod. Suspendisse dolor urna, fringilla vel sapien quis, egestas ultricies lorem. Phasellus lacinia tellus a ex mattis, in laoreet mi placerat. Vivamus ultricies nec arcu et maximus.",
            OnContinue: EventCallback.Factory.Create(this, CallbackOnContinue),
            OnReturn: EventCallback.Factory.Create(this, CallbackOnExit),
            OnExit: EventCallback.Factory.Create(this, CallbackOnExit)
        ) {
            Priority = 99
        });
    }
    
    private async Task OnThemeModeChanged() {
        await ThemeStateProvider.TrySelectNextModeAsync();

        IThemeState state = ThemeStateProvider.GetState();
        ToggleState = state.ModeName != state.FirstModeInCollectionName;

        StateHasChanged();
    }
    
    
    private async Task CallbackOnContinue() {
        IToastingData infoToast = new ToastingData("info", "Pressed continue");
        await ToastingProvider.PublishToastAsync(infoToast, ToastAppearance.Info, 0);
    }
    
    private async Task CallbackOnExit() {
        IToastingData infoToast = new ToastingData("info", "Pressed Exit");
        await ToastingProvider.PublishToastAsync(infoToast, ToastAppearance.Error, 0);
    }
}
