@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide
@using Microsoft.AspNetCore.Components.Routing

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@inject IQueryParameterManager QueryParameterManager
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@* WHY THE F do I need to do this to make it work? https://github.com/w3c/csswg-drafts/issues/9045 *@
<InfiniTooltipWrapper>
    <Content>
        @if (Href.IsNotNullOrWhiteSpace()) {
            <a href="@_computedHref"
               class="@(ConcatClasses(Class, ContainerClasses)) rounded-md inline-flex items-center justify-center transition-all duration-150 transform cursor-pointer active:scale-95 hover:scale-105"
               @onmouseenter="@ShowTooltip"
               @onmouseleave="@HideTooltip">
                @ButtonContent
            </a>
        }
        else {
            <button @onclick="OnClickAsync"
                    @onclick:stopPropagation="@StopPropagation"
                    type="@Type"
                    disabled="@IsDisabled"
                    aria-label="@AriaLabel"
                    @onmouseenter="@ShowTooltip"
                    @onmouseleave="@HideTooltip"
                    class="@(ConcatClasses(Class, ContainerClasses)) rounded-md inline-flex items-center justify-center transition-all duration-150 transform">
                @ButtonContent
            </button>
        }
    </Content>

    <Tooltip>
        <InfiniTooltip
            Class="@(HiddenIfNot(_showTooltip && Tooltip.IsNotNullOrEmpty()))"
            Content="@Tooltip"
            Anchor="@TooltipAnchor"/>
    </Tooltip>
</InfiniTooltipWrapper>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public string? Href { get; set; }
    [Parameter] public string? IconName { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public bool StopPropagation { get; set; } = true;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    private EventCallbackDebouncer<MouseEventArgs>? OnClickDebounced { get; set; }
    [Parameter] public int DebounceMs { get; set; }

    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Default;
    [Parameter] public Color Color { get; set; } = Color.Default;
    [Parameter] public Size Size { get; set; } = Size.M;
    [Parameter] public string? Tooltip { get; set; }
    [Parameter] public Anchor TooltipAnchor { get; set; } = Anchor.Center | Anchor.Bottom;
    [Parameter] public bool DisableTrackedQueryParams { get; set; }

    [Parameter] public bool Disabled { get; set; }
    protected override bool IsDisabled => Disabled || base.IsDisabled;

    private string? _computedHref;

    private bool _showTooltip;

    // ReSharper disable once UnusedParameter.Local
    private RenderFragment ButtonContent => __builder => {
        <span class="inline-flex items-center gap-2">
            @if (IconName.IsNotNullOrWhiteSpace()) {
                <LucideIcon Name="@IconName" Class="@ConcatClasses(IconSizeClass, "pointer-events-none")"/>
            }
            @if (Text.IsNotNullOrWhiteSpace()) {
                @Text
            }
            @if (ChildContent is not null) {
                @ChildContent
            }
            @if (IconName.IsNullOrWhiteSpace() && ChildContent is null && Text.IsNullOrWhiteSpace()) {
                <span class="@IconSizeClass"></span>
            }
        </span>
    };

    private const string ContainerReaction = "cursor-pointer active:scale-95 hover:scale-105";

    private string ContainerClasses => (Variant, Color) switch {
        _ when IsDisabled => ConcatClasses(
            ContainerSizeClasses,
            "infini-bg-(--button-disabled) text-(--button-disabled-text) opacity-50 cursor-not-allowed"
        ),

        (ButtonVariant.Default, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-default) text-(--button-default-text) hover:text-(--button-default-text-hover) hover:infini-bg-(--button-default-hover)"
            ),

        (ButtonVariant.Default, _) =>
            ConcatClasses(
                "cursor-pointer active:scale-95 hover:scale-105",
                ContainerSizeClasses,
                Color.ToCssClassBackground(),
                Color.ToCssClassTextColorReadableForeground()
            ),

        (ButtonVariant.Primary, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-primary) text-(--button-primary-text) hover:text-(--button-primary-text-hover) hover:infini-bg-(--button-primary-hover)"
            ),

        (ButtonVariant.Primary, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-primary) hover:infini-bg-(--button-primary-hover)",
                Color.ToCssClassText()
            ),

        (ButtonVariant.Transparent, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-transparent) text-(--button-transparent-text) hover:text-(--button-transparent-text-hover) hover:infini-bg-(--button-transparent-hover)"
            ),

        (ButtonVariant.Transparent, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-transparent)  hover:infini-bg-(--button-transparent-hover)",
                Color.ToCssClassText()
            ),

        (ButtonVariant.Dark, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-dark) hover:infini-bg-(--button-dark-hover) text-(--button-dark-text) hover:text-(--button-dark-text-hover) hover:ring-2 hover:ring-(--button-dark-ring)"
            ),

        (ButtonVariant.Dark, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                Color.ToCssClassText(),
                Color.ToCssClassRingHover(),
                "infini-bg-(--button-dark) hover:infini-bg-(--button-dark-hover) hover:ring-2"
            ),

        (ButtonVariant.Light, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-light) hover:infini-bg-(--button-light-hover) text-(--button-light-text) hover:text-(--button-light-text-hover) hover:ring-2 hover:ring-(--button-light-ring) font-[450]"
            ),

        (ButtonVariant.Light, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                Color.ToCssClassText(),
                Color.ToCssClassRingHover(),
                "infini-bg-(--button-light) hover:infini-bg-(--button-light-hover) hover:ring-2"
            ),

        (ButtonVariant.Outline, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-outline) hover:infini-bg-(--button-outline-hover) text-(--button-outline-text) hover:text-(--button-outline-text-hover) ring-1 ring-(--button-outline-ring) hover:ring-(--button-outline-ring-hover)"
            ),

        (ButtonVariant.Outline, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-outline) hover:infini-bg-(--button-outline-hover) ring-1",
                Color.ToCssClassText(),
                Color.ToCssClassRing()
            ),

        (ButtonVariant.OutlineSolid, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-outline-solid) hover:infini-bg-(--button-outline-solid-hover) text-(--button-outline-solid-text) hover:text-(--button-outline-solid-text-hover) ring-1 ring-(--button-outline-solid-ring) hover:ring-(--button-outline-solid-ring-hover)"
            ),

        (ButtonVariant.OutlineSolid, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "infini-bg-(--button-outline-solid) hover:infini-bg-(--button-outline-solid-hover) ring-1",
                Color.ToCssClassText(),
                Color.ToCssClassRing()
            ),

        _ => string.Empty
    };

    private string ContainerSizeClasses => Size switch {
        Size.Xxs => "px-2 py-1 text-xs",
        Size.Xs => "px-2 py-1 text-sm",
        Size.S => "px-2 py-1 text-base",
        Size.M => "px-2 py-1 text-lg",
        Size.L => "px-2 py-1 text-xl",
        Size.Xl => "px-2 py-1 text-2xl",
        Size.Xxl => "px-2 py-1 text-3xl",
        _ => string.Empty
    };

    private string IconSizeClass => Size switch {
        Size.Xxs => "w-3 h-3 my-0.5",
        Size.Xs => "w-4 h-4 my-0.5",
        Size.S => "w-5 h-5 my-0.5",
        Size.M => "w-6 h-6 my-0.5",
        Size.L => "w-7 h-7 my-0.5",
        Size.Xl => "w-8 h-8 my-0.5",
        Size.Xxl => "w-9 h-9 my-0.5",
        _ => "w-6 h-6"
    };

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    
    protected override void OnInitialized() {
        base.OnInitialized();
        if (Href is not null && !DisableTrackedQueryParams) NavigationManager.LocationChanged += OnLocationChanged;
        ComputeHref();
    }

    protected override async Task OnParametersSetAsync() {
        base.OnParametersSet();
        // ReSharper disable once ConditionIsAlwaysTrueOrFalseAccordingToNullableAPIContract
        if (OnClickDebounced is not null) await OnClickDebounced.DisposeAsync(); 
        if (DebounceMs > 0) OnClickDebounced = OnClick.GetDebouncer(DebounceMs);
    }

    private void ShowTooltip() => _showTooltip = true;
    private void HideTooltip() => _showTooltip = false;
    
    private async Task OnClickAsync(MouseEventArgs args) {
        if (IsDisabled) return;

        if (OnClickDebounced is not null) await OnClickDebounced.InvokeDebouncedAsync(args);
        else await OnClick.InvokeAsync(args);
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
        ComputeHref();
        InvokeAsync(StateHasChanged);
    }

    private void ComputeHref() {
        _computedHref = Href is not null && !DisableTrackedQueryParams
            ? QueryParameterManager.ApplyTrackedQueryParameters(Href)
            : Href;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        if (Href is not null && !DisableTrackedQueryParams) NavigationManager.LocationChanged -= OnLocationChanged;
        if (OnClickDebounced is not null) await OnClickDebounced.DisposeAsync();
    }
}
