@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class py-0.5 px-1.25">
    @if (Href.IsNotNullOrWhiteSpace()) {
        <a href="@Href"
           class="@ContainerClasses rounded-md group/button inline-flex items-center justify-center transition-all duration-150 transform cursor-pointer active:scale-95 hover:scale-105">
            <span class="inline-flex items-center gap-2">
                @if (IconName.IsNotNullOrWhiteSpace()) {
                    <LucideIcon Name="@IconName" class="@IconSizeClass"/>
                }
                @if (ChildContent is not null) {
                    @ChildContent
                }
                @if (IconName.IsNullOrWhiteSpace() && ChildContent is null) {
                    <span class="w-8 h-8"></span>
                }
            </span>
        </a>
    } else {
        <button @onclick="OnClickAsync"
                @onclick:stopPropagation="@StopPropagation"
                type="@Type"
                disabled="@Disabled"
                aria-label="@AriaLabel"
                class="@ContainerClasses rounded-md group/button inline-flex items-center justify-center transition-all duration-150 transform">

            <span class="inline-flex items-center gap-2">
                @if (IconName.IsNotNullOrWhiteSpace()) {
                    <LucideIcon Name="@IconName" class="@IconSizeClass"/>
                }
                @if (ChildContent is not null) {
                    @ChildContent
                }
                @if (IconName.IsNullOrWhiteSpace() && ChildContent is null) {
                    <span class="@IconSizeClass"></span>
                }
            </span>
        </button>
    }

    @if (Tooltip.IsNotNullOrEmpty()) {
        <div
            class="@TooltipAnchorClasses absolute transform px-3 py-1 bg-(--color-base-90) text-(--color-base-10) text-sm rounded-md opacity-0 group-hover/button:opacity-100 transition-opacity duration-200 whitespace-nowrap z-50 pointer-events-none">
            @Tooltip
        </div>
    }
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public string? Href { get; set; }
    [Parameter] public string? IconName { get; set; }
    [Parameter] public bool StopPropagation { get; set; } = true;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Default;
    [Parameter] public Color Color { get; set; } = Color.Default;
    [Parameter] public Size Size { get; set; } = Size.M;
    [Parameter] public string? Tooltip { get; set; }
    [Parameter] public Anchor TooltipAnchor { get; set; } = Anchor.Center | Anchor.Bottom;

    private const string ContainerReaction = "cursor-pointer active:scale-95 hover:scale-105";

    private string ContainerClasses => (Variant, Color) switch {
        _ when Disabled => ConcatClasses(
            ContainerSizeClasses,
            "bg-(--color-base-70) text-(--color-base-10) opacity-50 cursor-not-allowed"
        ),

        (ButtonVariant.Default, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-(--color-base-70) text-(--color-base-10) hover:text-(--color-base-10) hover:ring-2 hover:ring-(--color-accent)"
            ),

        (ButtonVariant.Default, _) =>
            ConcatClasses(
                "cursor-pointer active:scale-95 hover:scale-105",
                ContainerSizeClasses,
                Color.ToBackgroundTailwind(),
                Color.ToReadableTextColorTailwind()
            ),

        (ButtonVariant.Primary, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-(--color-accent) text-(--color-base-80) hover:text-(--color-base-90)"
            ),

        (ButtonVariant.Primary, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-(--color-accent)",
                Color.ToTextTailwind()
            ),

        (ButtonVariant.Transparent, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-transparent hover:text-(--color-accent)"
            ),

        (ButtonVariant.Transparent, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-transparent",
                Color.ToTextTailwind()
            ),

        (ButtonVariant.Dark, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-(--color-base-95) text-(--color-base-30) hover:text-(--color-base-20) hover:ring-2 hover:ring-(--color-base-10)"
            ),

        (ButtonVariant.Dark, _) =>
            ConcatClasses(
                ContainerSizeClasses,
                Color.ToTextTailwind(),
                Color.ToHoverRingTailwind(),
                "bg-(--color-base-95) hover:ring-2"
            ),

        (ButtonVariant.Light, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-(--color-base-10) text-(--color-base-80) hover:text-(--color-base-70) hover:ring-2 hover:ring-(--color-base-95)"
            ),

        (ButtonVariant.Light, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                Color.ToTextTailwind(),
                Color.ToHoverRingTailwind(),
                "bg-(--color-base-10) ring-2"
            ),

        (ButtonVariant.Outline, Color.Default) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-transparent text-(--color-base-10) ring-2 ring-(--color-base-70) hover:ring-(--color-accent)"
            ),

        (ButtonVariant.Outline, _) =>
            ConcatClasses(
                ContainerReaction,
                ContainerSizeClasses,
                "bg-transparent ring-2",
                Color.ToTextTailwind(),
                Color.ToRingTailwind()
            ),

        _ => throw new ArgumentOutOfRangeException()
    };
    
    private string TooltipAnchorClasses => TooltipAnchor switch {
        Anchor.Center | Anchor.Bottom => "top-full left-1/2 -translate-x-1/2 mt-2",
        Anchor.Left | Anchor.Bottom => "top-full right-1 translate-x-1 mt-2",
        Anchor.Right | Anchor.Bottom => "top-full left-1 -translate-x-1 mt-2",

        Anchor.Center | Anchor.Top => "bottom-full left-1/2 -translate-x-1/2 mb-2",
        Anchor.Left | Anchor.Top => "bottom-full right-1 translate-x-1 mb-2",
        Anchor.Right | Anchor.Top => "bottom-full left-1 -translate-x-1 mb-2",

        Anchor.Left => "top-0 translate-y-1 right-full mr-2",
        Anchor.Right => "top-0 translate-y-1 left-full ml-2",

        _ => "top-full left-1/2 -translate-x-1/2 mt-2"
    };

    private string ContainerSizeClasses => Size switch {
        Size.Xxs => "px-2 py-1 text-xs",
        Size.Xs => "px-2 py-1 text-sm",
        Size.S => "px-2 py-1 text-base",
        Size.M => "px-2 py-1 text-lg",
        Size.L => "px-2 py-1 text-xl",
        Size.Xl => "px-2 py-1 text-2xl",
        Size.Xxl => "px-2 py-1 text-3xl",
        _ => throw new ArgumentOutOfRangeException()
    };
    
    private string IconSizeClass => Size switch {
        Size.Xxs => "w-3 h-3 my-0.5",
        Size.Xs => "w-4 h-4 my-0.5",
        Size.S => "w-5 h-5 my-0.5",
        Size.M => "w-6 h-6 my-0.5",
        Size.L => "w-7 h-7 my-0.5",
        Size.Xl => "w-8 h-8 my-0.5",
        Size.Xxl => "w-9 h-9 my-0.5",
        _ => "w-6 h-6"
    };

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnClickAsync(MouseEventArgs args) {
        if (Disabled) return;

        await OnClick.InvokeAsync(args);
    }
}
