@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide
@inherits InfiniChildlessComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="inline-flex">
    <input
        type="checkbox"
        class="sr-only"
        checked="@IsChecked"
        disabled="@IsDisabled"
        @onfocus="@OnFocusAsync"
        @onblur="@OnBlurAsync"
        tabindex="@(IsDisabled ? -1 : 0)"
        @onkeydown="@OnKeyDownAsync"
    />
    <!-- Custom checkbox appearance -->
    <div 
        class="@ConcatClasses(BackgroundClasses,ContainerBorderClasses, FocusClasses, Size.ToTailwindRounded()) border-2 p-0.5"
        @onclick="@OnToggleAsync">
        @if (IsChecked) {
            <LiCheck Size="@Size.ToLucideIconSize()" Class="@WithDisabled("text-(--color-base-10)", "text-(--color-base-70)")"/>
        }
        else {
            <LiSlash Size="@Size.ToLucideIconSize()"  Class="@WithDisabled("text-(--color-base-50) p-1", "text-(--color-base-70) p-1")"/>
        }
    </div>
</div>

@* onchange="@(async () => await IsCheckedChanged.InvokeAsync(IsChecked))" *@
@* @onkeydown="OnKeyDown" *@
@* aria-checked="@(IsIndeterminate ? "mixed" : IsChecked.ToString().ToLower())" *@
@* aria-disabled="@IsDisabled.ToString().ToLower()" *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public bool IsChecked { get; set; }
    [Parameter] public EventCallback<bool> IsCheckedChanged { get; set; }

    [Parameter] public Size Size { get; set; } = Size.M;
    private bool _isFocused;
    
    private string BackgroundClasses => IsDisabled
        ? "infini-bg-(--color-base-90)"
        : IsChecked
            ? "infini-bg-(--color-base-60)"
            : "infini-bg-(--color-base-80)";
        
    private string FocusClasses => _isFocused && !IsDisabled ? "border-(--color-accent)" : string.Empty;
    private string ContainerBorderClasses => WithDisabled(
        "border-(--border) hover:border-(--color-accent) cursor-pointer",
        "border-(--color-base-50) cursor-not-allowed"
    );
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnToggleAsync() {
        if (IsDisabled) return;
        
        IsChecked = !IsChecked;
        await IsCheckedChanged.InvokeAsync(IsChecked);
        StateHasChanged();
    }
    
    private async Task OnKeyDownAsync(KeyboardEventArgs e) {
        if (IsDisabled) return;

        if (e.Key is "Space" or "Enter") {
            await OnToggleAsync();
        }
    }   
    
    private async Task OnFocusAsync() {
        _isFocused = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task OnBlurAsync() {
        _isFocused = false;
        StateHasChanged();
        await Task.CompletedTask;
    }


}