@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide

@namespace InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class inline-flex" data-checkbox="true">
    <input
        type="checkbox"
        class="sr-only"
        checked="@IsChecked"
        disabled="@(IsDisabled || IsInapplicable)"
        @onfocus="@OnFocusAsync"
        @onblur="@OnBlurAsync"
        tabindex="@(IsDisabled || IsInapplicable ? -1 : 0)"
        @onkeydown="@OnKeyDownAsync"
    />
    <!-- Custom checkbox appearance -->
    <div
        class="@ConcatClasses(BackgroundClasses, ContainerBorderClasses, FocusClasses, Size.ToTailwindRounded()) border-2 p-0.5"
        @onclick="@OnToggleAsync">
        @if (IsInapplicable) {
            <LiMinus Size="@Size.ToLucideIconSize()" Class="@WhenDisabled("text-infini-base-50", "text-infini-base-20")"/>
        }
        else if (IsChecked) {
            <LiCheck Size="@Size.ToLucideIconSize()" Class="@WhenDisabled("text-infini-base-10", "text-infini-base-20")"/>
        }
        else {
            <LiSlash Size="@Size.ToLucideIconSize()" Class="@WhenDisabled("text-infini-base-50 p-1", "text-infini-base-70 p-1")"/>
        }
    </div>
    @ChildContent
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public bool IsChecked { get; set; }
    [Parameter] public EventCallback<bool> IsCheckedChanged { get; set; }
    [Parameter] public bool IsInapplicable { get; set; }
    
    [Parameter] public Size Size { get; set; } = Size.M;
    private bool _isFocused;
    
    private string BackgroundClasses => IsDisabled
        ? "overload-bg-infini-base-90"
        : IsChecked
            ? "overload-bg-infini-base-60"
            : "overload-bg-infini-base-80";
        
    private string FocusClasses => _isFocused && !IsDisabled ? "border-infini-accent" : string.Empty;
    private string ContainerBorderClasses => WhenDisabled(
        "border-infini-border hover:border-infini-accent cursor-pointer",
        "border-infini-base-50 cursor-not-allowed"
    );
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnToggleAsync() {
        if (IsDisabled) return;
        
        IsChecked = !IsChecked;
        await IsCheckedChanged.InvokeAsync(IsChecked);
        StateHasChanged();
    }
    
    private async Task OnKeyDownAsync(KeyboardEventArgs e) {
        if (IsDisabled) return;

        if (e.Key is "Space" or "Enter") {
            await OnToggleAsync();
        }
    }   
    
    private async Task OnFocusAsync() {
        _isFocused = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task OnBlurAsync() {
        _isFocused = false;
        StateHasChanged();
        await Task.CompletedTask;
    }


}