@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@* ReSharper disable once CheckNamespace *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@implements IDisposable
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class @(ParentEditor.ShowSidePreview ? "border-r border-(--border-color)" : "") min-h-0 flex">
    <textarea
        class="grow p-4 border-none focus:outline-none resize-none overflow-scroll infini-scrollbar"
        value="@ParentEditor.Source.Text"
        @ref="@ParentEditor.InputRef"
        @oninput="@ParentEditor.OnInputAsync"
        @onkeydown="@ParentEditor.OnKeyDownAsync">
    </textarea>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] public InfiniMarkdownEditor ParentEditor { get; set; } = null!;
    [Parameter] public string? Class { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        ParentEditor.SourceHasChanged += StateHasChanged;
    }

    public void Dispose() {
        ParentEditor.SourceHasChanged -= StateHasChanged;
    }
}

