@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@if (MenuCollapsed) {
    <div class="@InfiniSideNavItem.GetContainerClassesNoHover() relative w-full h-12">
        <div class="flex items-center justify-center w-full h-full">
            <InfiniToggleButton 
                Value="@Value" 
                ValueChanged="@ValueChanged"
                Size="Size.Xs"
                StopPropagation="true"
                Disabled="@Disabled"
                OnIcon="@OnIcon"
                OffIcon="@OffIcon"
                class="transform -translate-x-2"/>
        </div>
    </div>
} else {
    <div class="@InfiniSideNavItem.GetContainerClassesNoHover() flex justify-between items-center">
        <InfiniSideNavItem Text="@Text" Icon="@Icon"/>
        <InfiniSpacer/>
        <InfiniToggleButton 
            Value="@Value" 
            ValueChanged="@ValueChanged"
            Size="Size.S"
            StopPropagation="true"
            Disabled="@Disabled"
            OnIcon="@OnIcon"
            OffIcon="@OffIcon"
            class="ml-2"/>
    </div>
}

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] public bool MenuCollapsed { get; set; }
    
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public RenderFragment? Text { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string? OnIcon { get; set; }
    [Parameter] public string? OffIcon { get; set; }


    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
}

