@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@BodyClasses text-sm border-2 rounded-md py-2 px-2 transition-all duration-300 ease-in-out @(IsClosing ? "opacity-0 scale-90" : "opacity-100 scale-100")">
    <div class="flex flex-col gap-2">
        <div class="@HeaderClasses col-span-3 flex items-center justify-between gap-2 pl-2 rounded-sm">
            <LucideIcon Name="@IconName" class="shrink-0" Size="18" />
            <span class="flex-grow mb-0.5">@ToastData.Title</span>
            <InfiniButton
                Variant="ButtonVariant.Transparent"
                IconName="@LucideNames.X"
                OnClick="@RequestCloseAsync"
                Class="shrink-0" />
        </div>

        @if (ToastData.Body.IsNotNullOrWhiteSpace()) {
            <div class="col-span-3 break-all">
                @ToastData.Body
            </div>
        }

        @if (ToastData.LinkHref.IsNotNullOrWhiteSpace()) {
            <div class="col-span-3">
                <InfiniButton
                    Class="-ml-3 underline"
                    Href="@ToastData.LinkHref"
                    Variant="ButtonVariant.Transparent"
                    DisableTrackedQueryParams="@(!IsRelativeUri(ToastData.LinkHref))">
                    @(ToastData.LinkTitle ?? ToastData.LinkHref)
                </InfiniButton>
            </div>
        }
    </div>
</div>