@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor
@using InfiniLore.Lucide
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@BodyClasses flex flex-row gap-2 infini-bg-(--color-base-80) text-(--text) text-sm rounded-lg p-2 shadow-lg border border-(--border) transition-all duration-300 ease-in-out @(IsClosing ? "opacity-0 scale-95" : "opacity-100 scale-100")">
    <!-- Icon -->
    <div class="@(ToastData.Body.IsNotNullOrWhiteSpace() ? "items-start" : " items-center") flex ">
        <LucideIcon Name="@IconName" Class="@(HeaderClasses)"/>
    </div>

    <!-- Text Content -->
    <div class="flex flex-col justify-center grow">
        <p class="@HeaderClasses font-semibold leading-tight">@ToastData.Title</p>
        @if (ToastData.Body.IsNotNullOrWhiteSpace()) {
            <p class="@BodyClasses mt-1 leading-snug">@ToastData.Body</p>
        }

        @if (ToastData.LinkHref.IsNotNullOrWhiteSpace()) {
            <div class="flex gap-4">
                <InfiniButton
                    Size="Size.Xs"
                    Class="underline text-sm -ml-3"
                    Href="@ToastData.LinkHref"
                    Variant="ButtonVariant.Transparent"
                    DisableTrackedQueryParams="@(!IsRelativeUri(ToastData.LinkHref))">
                    @(ToastData.LinkTitle ?? ToastData.LinkHref)
                </InfiniButton>
            </div>
        }
    </div>

    <!-- Close Button -->
    <InfiniButton
        Class="@HeaderClasses"
        Size="Size.S"
        Variant="ButtonVariant.Transparent"
        IconName="@LucideNames.X"
        OnClick="@RequestCloseAsync" />
</div>
