@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@inject NavigationManager NavigationManager
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div @onclick="OnContainerClick"
     class="@(MenuCollapsed ? "px-0 py-2" : "p-2") flex flex-nowrap items-center rounded hover:bg-(--sidebar-nav-button-color-hover) group w-full transition-all duration-300">
    <span class="flex grow items-center w-full transition-all justify-between">
        <span class="@(MenuCollapsed ? "ml-1" : "-ml-1") flex-shrink-0 transition-all duration-300">
            <UserIcon 
                ImageUrl="@UserImageUrl"
                HrefUserProfile="@HrefUserProfile"
                ShowStatusIndicator="@ShowStatusIndicator"
                StatusEmoji="@StatusEmoji"
                Status="@UserStatus" />

        </span>

        <!-- User Info -->
        <div
            class="@(MenuCollapsed ? "opacity-0 w-0 h-6 overflow-hidden" : "opacity-100 w-auto h-8") flex flex-col justify-center items-end transition-all duration-300">
            <span>
                <a href="@HrefUserProfile"
                   @onclick:stopPropagation
                   class="font-semibold text-(--sidebar-nav-text-color) hover:text-(--sidebar-nav-text-color-hover) whitespace-nowrap text-right"
                   style="font-size: clamp(0.45rem, calc(150px / (@UserName.Length * 0.6)), 1rem);"
                   title="@UserName">
                    @UserName
                </a>
            </span>

            <span class="flex items-center justify-between flex-row gap-4 h-[1.25rem] ">
                @AdditionalLinks
            </span>
        </div>
    </span>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [CascadingParameter] public bool MenuCollapsed { get; set; }
    [Parameter] public string UserName { get; set; } = "Unknown Username";
    [Parameter] public string UserImageUrl { get; set; } = string.Empty;
    [Parameter] public string HrefUserProfile { get; set; } = string.Empty;
    [Parameter] public EventCallback LogoutCallbackAsync { get; set; }

    [Parameter] public RenderFragment? AdditionalLinks { get; set; }
    [Parameter] public bool ShowStatusIndicator { get; set; } = true;
    [Parameter] public string? StatusEmoji { get; set; } = "🏳️‍⚧️";
    [Parameter] public UserIconStatus UserStatus { get; set; } = UserIconStatus.Undefined;
    
    public static string AdditionalLinkClasses => "text-sm text-(--color-base-10) whitespace-nowrap hover:text-(--color-accent)";
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private void OnContainerClick() {
        if (!MenuCollapsed) return;
        NavigationManager.NavigateTo(HrefUserProfile);
    }
}

