@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex flex-col w-full">
    @* ReSharper disable once SwitchStatementHandlesSomeKnownEnumValuesWithDefault *@
    @if (LabelLocation == LabelLocation.OnTop && Label.IsNotNullOrWhiteSpace()) {
        <div class="flex flex-row pb-1">
            <InfiniLabel For="@Id" Class="break-all">@Label</InfiniLabel>
            <InfiniSpacer/>
            <div class="text-(--color-red) text-sm">@ValidationMessage</div>
        </div>
    }

    <div class="flex grow justify-between">
        @if (LabelLocation == LabelLocation.Left && Label.IsNotNullOrWhiteSpace()) {
            <InfiniLabel For="@Id" Class="break-words gap-x-2 md:max-w-md sm:max-w-[150px]">@Label</InfiniLabel>
            <InfiniSpacer/>
        }

        <InfiniToggleButton Value="@Value" ValueChanged="OnValueChanged" Class="self-end mr-1"/>
        @ChildContent
    </div>

    @if (Label.IsNullOrWhiteSpace() && ValidationMessage.IsNotNullOrEmpty()) {
        <div class="text-(--color-red) text-sm mt-1">@ValidationMessage</div>
    }
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter, EditorRequired] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public bool AutoFocus { get; set; }
    [Parameter] public int? MaxLength { get; set; }
    [Parameter] public string? ValidationMessage { get; set; }

    [Parameter] public string? Label { get; set; }
    [Parameter] public LabelLocation LabelLocation { get; set; } = LabelLocation.Left;

    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString("N");

    [Parameter] public bool Disabled { get; set; }
    protected override bool IsDisabled => Disabled || base.IsDisabled;

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnParametersSet() {
        base.OnParametersSet();
        CascadedDisabled = Disabled;
    }
    
    private async Task OnValueChanged(bool value) {
        Value = value;
        if (ValueChanged.HasDelegate) {
            await ValueChanged.InvokeAsync(value);
        }

        StateHasChanged();

    }
}
