@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniBlazor.JsRuntime
@using InfiniLore.Lucide

@namespace InfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase

@inject IInfiniBlazorJs InfiniBlazorJs
@inject ICodeBlockLanguageHandlerProvider LanguageInjectionProvider
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@if (LanguageHandlerComponentType is not null) {
    <DynamicComponent Type="@LanguageHandlerComponentType" Parameters="@LanguageHandlerParameters" @key="Content"/>
}
else {
    <div class="@Class relative flex overflow-hidden min-h-0 text-infini-base-10">
        <div class="absolute top-2 right-4 flex justify-end @ZIndex.CodeBlockCopyButton">
            @if (EnableCopy) {
                <InfiniButtonOutlineSolidToolTipped
                    Size="Size.Xs"
                    IconName="@LucideNames.Copy"
                    OnClick="@CopyToClipboardAsync"
                    TooltipAnchor="@Anchor.Left">
                    <Content>@Language</Content>
                    <Tooltip>Copy to clipboard</Tooltip>
                </InfiniButtonOutlineSolidToolTipped>
            }
        </div>
        <div
            class="overload-bg-infini-codeblock text-sm border border-infini-border rounded p-4 overflow-auto w-full min-h-0 infini-scrollbar">
            <div class="relative">
                <pre class="whitespace-pre m-0 font-mono min-h-0">
                    <code @ref="@Reference" class="@LanguageClass">
                        @if (Content is not null) {
                            @Content
                        }
                        else if (ChildContent is not null) {
                            @ChildContent
                        }
                    </code>
                </pre>
            </div>
        </div>
    </div>
}

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public string? Content { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ContentChanged { get; set; }
    [Parameter] public string? Language { get; set; }
    [Parameter] public bool EnableCopy { get; set; } = true;
    [Parameter] public bool DisableHighlighting { get; set; }
    [Parameter] public bool DisableCustomLanguageHandling { get; set; }

    private string LanguageClass => $"language-{Language}";
    private ElementReference Reference { get; set; }
    
    private Type? LanguageHandlerComponentType { get; set; }
    private Dictionary<string, object?>? LanguageHandlerParameters { get; set; }
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------\
    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();
        await HandleLanguages();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);
        await HighlightAsync();
        await HandleLanguages();
    }

    private async Task HandleLanguages() {
        if (DisableCustomLanguageHandling) return;
        if (!LanguageInjectionProvider.TryGetComponentType(Language, out Type? componentType)) return;
        
        if (LanguageHandlerComponentType == componentType) return;
        LanguageHandlerComponentType = componentType;
        LanguageHandlerParameters = new Dictionary<string, object?> { [nameof(Content)] = Content };
        await InvokeAsync(StateHasChanged);
    }

    private async Task HighlightAsync() {
        if (DisableHighlighting) return;
        if (!RendererInfo.IsInteractive) return;
        if (LanguageHandlerComponentType is not null) return;

        if (Content is not null) await InfiniBlazorJs.Highlight.SetContentAndHighlightElementAsync(Reference, Content);
        if (ChildContent is not null) await InfiniBlazorJs.Highlight.HighlightElementAsync(Reference);
    }

    private async Task CopyToClipboardAsync() {
        if (Content.IsNullOrWhiteSpace()) return;

        await InfiniBlazorJs.CopyToClipboardAsync(Content);
    }
}
