@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Microsoft.AspNetCore.Components.Routing

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
@if (Href != null)
{
    <NavLink href="@Href"
             class="@($"flex flex-nowrap p-2 items-center rounded hover:bg-(--color-base-70) group {(IsMenuCollapsed ? "justify-center" : "justify-start")}")">
        @MenuContent
    </NavLink>
}
else
{
    <button @onclick="@OnClickCallback"
            class="@($"w-full flex flex-nowrap p-2 items-center rounded hover:bg-(--color-base-70) group {(IsMenuCollapsed ? "justify-center" : "justify-start")}")">
        @MenuContent
    </button>
}

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [CascadingParameter] public bool IsMenuCollapsed { get; set; }
    [Parameter] public string? Href { get; init; } 
    [Parameter] public required string LucideIcon { get; init; }
    [Parameter] public Action OnClickCallback { get; set; } = () => { };
    [Parameter] public RenderFragment? Text { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }

    private RenderFragment MenuContent => __builder => {
        <span class="flex flex-nowrap items-center justify-center">
            <span class="w-6 h-6 text-(--color-base-10) flex-shrink-0 group-hover:text-(--color-accent)">
                @Icon
            </span>
            @if (Text is not null) {
                <span class="@($"transition-all duration-300 h-6 {(IsMenuCollapsed ? "w-0 opacity-0 delay-0" : "delay-300 w-auto ml-2 opacity-100")}")">
                    <span class="text-(--color-base-10) truncate inline-block max-w-[150px] group-hover:text-(--color-accent)">
                        @Text
                    </span>
                </span>
            }
        </span>
    };

}

