@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Example.InfiniBlazor.Shared.Themes
@using InfiniLore.InfiniBlazor
@using InfiniLore.InfiniBlazor.Debugger
@using InfiniLore.InfiniBlazor.Dialogs
@using InfiniLore.InfiniBlazor.Theming
@using InfiniLore.InfiniBlazor.Theming.Collections
@using InfiniLore.InfiniBlazor.Toasting
@using Microsoft.Extensions.Logging

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveAuto
@inherits InfiniNavBarBase
@inject IThemeStateProvider ThemeStateProvider
@inject IToastingProvider ToastingProvider
@inject IVisualDebuggerProvider DebuggerProvider
@inject ILogger<NavBarLeft> Logger
@inject IDialogProvider DialogProvider
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniNavBar Location="NavBarLocation.Left" Size="Size" Class="@Class" @bind-NavBarCollapsed="CollapsedState">
    <div class="flex flex-row justify-between">
        <InfiniNavLink
            Href="/"
            Text="InfiniBlazor"
            Class="@ConcatClasses(HiddenIf(CollapsedState), "font-bold")"
            HiddenOnCollapsed
        />

        <InfiniNavCollapseButton @bind-State="CollapsedState" Class="h-10"/>
    </div>

    <InfiniNavBreak/>

    <InfiniNavLink
        Href="/markdown-dual"
        Text="Markdown Example"
        Icon="@LucideNames.Signature"
    />

    <InfiniNavLink
        Href="/table"
        Text="Table"
        Icon="@LucideNames.Table"
    />

    <InfiniNavLink
        Href="/html"
        Text="Html"
        Icon="@LucideNames.CodeXml"
    />

    <InfiniNavLink
        Href="/theming/table"
        Text="Theming Table"
        Icon="@LucideNames.Table2"
    />

    <InfiniNavLink
        Href="/sections"
        Text="Sections"
        Icon="@LucideNames.Rows3"
    />

    <InfiniNavLink
        Href="/" OpenInNewTab
        Text="Open New Tab"
        Icon="@LucideNames.ArrowRightToLine"
    />
    
    <InfiniSpacer/>
    <InfiniNavBreak/>
    <InfiniNavSubMenu Text="Sub Menu">
        <InfiniNavLink Text="Something" Icon="@LucideNames.AArrowDown" Href="/"/>
        <InfiniNavLink Text="Else" Icon="@LucideNames.AArrowDown" Href="/"/>
    </InfiniNavSubMenu>
    <InfiniNavBreak/>
    <InfiniSpacer/>
    
    <InfiniNavButton
        OnClick="@OnDialogCreate"
        Text="Create Dialog"
        Icon="@LucideNames.Diamond"
    />
    
    <InfiniNavButton
        OnClick="@OnCreateToastAsync"
        Text="Create Toast"
        Icon="@LucideNames.Popcorn"
    />

    <InfiniNavToggleButton
        Value="@DebuggerProvider.IsEnabled()"
        ValueChanged="@DebuggerProvider.ToggleStateAsync"
        Text="Toggle Debug"
        OnIcon="@(CollapsedState ? "bug" : null)"
        OffIcon="@(CollapsedState ? "bug" : null)"
        Color="Color.Red" Icon="@LucideNames.Bug"
    />

    <InfiniNavBreak/>

    <InfiniNavLink
        Href="https://github.com/InfiniLore/infinilore.infiniblazor"
        DisableTrackedQueryParams
        OpenInNewTab
        Text="Github"
        Icon="@LucideNames.Package"
    />

    @* DEBUG *@
    <InfiniNavButton
        OnClick="@SwitchTheme"
        Text="Switch Theme"
        Icon="@LucideNames.Palette"
    />


    @if (ThemeStateProvider.GetState().IsBinaryCollection) {
        <InfiniNavToggleButton
            Value="@(ToggleState)"
            ValueChanged="@OnThemeModeChanged"
            Text="Toggle Mode"
            OnIcon="sun"
            OffIcon="moon" Icon="@LucideNames.Sun"
        />
    }
    else {
        <InfiniNavButton
            OnClick="@OnThemeModeChanged" 
            Text="Toggle Mode"
            Icon="@LucideNames.Sun"
        />
    }

    @* User *@
    <InfiniNavUser UserName="InfiniLore">
        <UserIcon>
            <InfiniUserIcon
                ImageUrl="@_currentUserImage"
                HrefUserProfile="/"/>
        </UserIcon>
        <AdditionalLinks>
            <button @onclick="SwitchUserImage"
                    class="@(InfiniNavUser.AdditionalLinkClasses)">
                switch
            </button>
            <NavLink href="/"
                     class="@(InfiniNavUser.AdditionalLinkClasses)">
                logout
            </NavLink>
        </AdditionalLinks>
    </InfiniNavUser>
</InfiniNavBar>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public bool CollapsedState { get; set; }

    private string _currentUserImage = "/icon.png";
    private bool ToggleState { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task SwitchTheme() {
        IThemeState state = ThemeStateProvider.GetState();

        string? themeCollectionName = state.CollectionName;
        themeCollectionName = themeCollectionName switch {
            DefaultThemeCollection.Name => PrideThemeCollection.Name,
            _ => DefaultThemeCollection.Name
        };
        Logger.Information("{a}", themeCollectionName);

        await ThemeStateProvider.TrySelectCollectionAsync(themeCollectionName);
        ToggleState = state.ModeName != state.FirstModeInCollectionName;

        StateHasChanged();
    }

    private void SwitchUserImage() {
        _currentUserImage = _currentUserImage == "/icon.png" ? "aaa/icon.png" : "/icon.png";
    }

    private async Task OnCreateToastAsync() {
        IToastingData defaultToast = new ToastingData("default");
        IToastingData infoToast = new ToastingData("info");
        IToastingData successToast = new ToastingData("success");
        IToastingData warningToast = new ToastingData("warning");
        IToastingData errorToast = new ToastingData(
            "error",
            "Some DataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataDataData",
            "#",
            "click here"
        );

        IToastingData debugToast = new ToastingData("Debug");
        IToastingData achievementToast = new ToastingData("Achievement");

        await ToastingProvider.PublishToastAsync(defaultToast, ToastAppearance.Default, 0);
        await ToastingProvider.PublishToastAsync(infoToast, ToastAppearance.Info, 0);
        await ToastingProvider.PublishToastAsync(successToast, ToastAppearance.Success, 0);
        await ToastingProvider.PublishToastAsync(warningToast, ToastAppearance.Warning, 0);
        await ToastingProvider.PublishToastAsync(errorToast, ToastAppearance.Error, 0);
        await ToastingProvider.PublishToastAsync(debugToast, ToastAppearance.Debug, 0);
        await ToastingProvider.PublishToastAsync(achievementToast, ToastAppearance.Achievement, 0);
    }

    private async Task OnThemeModeChanged() {
        if (!await ThemeStateProvider.TrySelectNextModeAsync()) {
            Logger.Warning("Could not activate next theme mode");
        }
        else {
            Logger.Information("Activated next theme mode");
        }

        IThemeState state = ThemeStateProvider.GetState();
        ToggleState = state.ModeName != state.FirstModeInCollectionName;

        StateHasChanged();
    }
    
    private void OnDialogCreate() {
        var dialogData = new InfiniDialogSimpleDto(
            "A Simple Dialog",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim erat velit. Nulla eros ligula, dignissim quis enim in, sollicitudin sodales lorem. Praesent porttitor dui consectetur, consequat odio posuere, dapibus nibh. Vivamus ut nisi magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam volutpat, massa et interdum bibendum, enim tortor pharetra sem, sit amet laoreet lacus orci eu risus. Fusce feugiat sem nec mauris aliquam, et facilisis lorem euismod. Suspendisse dolor urna, fringilla vel sapien quis, egestas ultricies lorem. Phasellus lacinia tellus a ex mattis, in laoreet mi placerat. Vivamus ultricies nec arcu et maximus.",
            OnContinue: EventCallback.Factory.Create(this, CallbackOnContinue),
            OnReturn: EventCallback.Factory.Create(this, CallbackOnExit),
            OnExit: EventCallback.Factory.Create(this, CallbackOnExit)
        );
        DialogProvider.AddDialog(dialogData);
    }
    
    private async Task CallbackOnContinue() {
        IToastingData infoToast = new ToastingData("info", "Pressed continue");
        await ToastingProvider.PublishToastAsync(infoToast, ToastAppearance.Info, 0);
    }
    
    private async Task CallbackOnExit() {
        IToastingData infoToast = new ToastingData("info", "Pressed Exit");
        await ToastingProvider.PublishToastAsync(infoToast, ToastAppearance.Error, 0);
    }
}