@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="group/button p-0.5">
    <button @onclick="OnClickAsync"
            type="@Type"
            disabled="@Disabled"
            aria-label="@AriaLabel"
            class="@(Class + DisableClasses) inline-flex items-center justify-center rounded-md transition">
        @if (IconName.IsNotNullOrWhiteSpace()) {
            <div class="@IconClasses w-8 h-8 flex justify-center items-center rounded-md">
                <LucideIcon Name="@IconName" class="IconClasses"/>
            </div>
        } else if (ChildContent is not null) {
            <span class="@TextClasses rounded-md">
                @ChildContent
            </span>
        } else {
            <span class="w-8 h-8"></span>
        }
    </button>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public string? IconName { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClickAsync { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Default;
    [Parameter] public Size Size { get; set; } = Size.Md;
    [Parameter] public string Class { get; set; } = string.Empty;

    private string IconClasses => (Variant, Disabled) switch {
        (ButtonVariant.Primary, false) => "bg-(--color-accent) group-hover/button:bg-(--color-base-70)",
        (ButtonVariant.Transparent, false) => "bg-transparent text-(--color-base-70) group-hover/button:bg-(--color-base-10) group-hover/button:text-(--color-accent)",
        (_, false) => "bg-(--color-base-70) text-(--color-base-00) group-hover/button:text-(--color-accent)",
        (_, true) => "bg-(--color-base-70) text-(--color-base-10)"
    };

    private string TextClasses => (Variant, Disabled) switch {
        (ButtonVariant.Primary, false) => $"bg-(--color-accent) group-hover/button:bg-(--color-base-70) {GetSizeClasses()}",
        (_, false) => $"bg-(--color-base-70) text-(--color-base-00) group-hover/button:text-(--color-accent) hover:ring-2 hover:ring-(--color-accent) {GetSizeClasses()}",
        (_, true) => $"bg-(--color-base-70) text-(--color-base-10) {GetSizeClasses()}"
    };

    private string DisableClasses => Disabled ? "opacity-50 cursor-not-allowed" : string.Empty;

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private string GetSizeClasses()
        => Size switch {
            _ => "px-2 py-1 text-base"
        };
}
