@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class p-0.5">
    <button @onclick="OnClickAsync"
            @onclick:stopPropagation="@StopPropagation"
            type="@Type"
            disabled="@Disabled"
            aria-label="@AriaLabel"
            class="@GetContainerClasses() rounded-md group/button inline-flex items-center justify-center transition-all duration-150 transform">

            <span class="rounded-md inline-flex items-center gap-2">
                @if (IconName.IsNotNullOrWhiteSpace()) {
                    <LucideIcon Name="@IconName" />
                }
                @if (ChildContent is not null) {
                    @ChildContent
                }
                @if (IconName.IsNullOrWhiteSpace() && ChildContent is null) {
                    <span class="w-8 h-8"></span>
                }
            </span>
    </button>
    @if (Tooltip.IsNotNullOrEmpty()) {
        <div
            class="@TooltipAnchorClasses absolute transform px-3 py-1 bg-(--color-base-90) text-(--color-base-10) text-sm rounded-md opacity-0 group-hover/button:opacity-100 transition-opacity duration-200 whitespace-nowrap z-50 pointer-events-none">
            @Tooltip
        </div>
    }
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public string? IconName { get; set; }
    [Parameter] public bool StopPropagation { get; set; } = true;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Default;
    [Parameter] public Size Size { get; set; } = Size.M;
    [Parameter] public string? Tooltip { get; set; }
    [Parameter] public Anchor TooltipAnchor { get; set; } = Anchor.Center | Anchor.Bottom;

    private string GetContainerClasses() {
        if (Disabled) return ConcatClasses(
            SizeClasses,
            "bg-(--color-base-70) text-(--color-base-10) opacity-50 cursor-not-allowed"
        );

        string variantClasses = Variant switch {
            ButtonVariant.Default => "bg-(--color-base-70) text-(--color-base-10) hover:text-(--color-base-10) hover:ring-2 hover:ring-(--color-accent)",
            ButtonVariant.Primary => "bg-(--color-accent)  text-(--color-base-80) hover:text-(--color-base-90)",
            ButtonVariant.Dark =>    "bg-(--color-base-95) text-(--color-base-30) hover:text-(--color-base-10) hover:ring-2 hover:ring-(--color-accent)",
            ButtonVariant.Light =>   "bg-(--color-base-10) text-(--color-base-80) hover:text-(--color-base-70) hover:ring-2 hover:ring-(--color-accent)",
            ButtonVariant.Success => "bg-(--color-success) text-(--color-success-text) ring-2 ring-(--color-success-border) font-normal",
            ButtonVariant.Warning => "bg-(--color-warning) text-(--color-warning-text) ring-2 ring-(--color-warning-border) font-normal",
            ButtonVariant.Error =>   "bg-(--color-error)   text-(--color-error-text) ring-2 ring-(--color-error-border) font-normal",
                
            ButtonVariant.Outline =>     "bg-transparent text-(--color-base-10) ring-2 ring-(--color-base-70) hover:ring-(--color-accent)",
            ButtonVariant.Transparent => "bg-transparent hover:text-(--color-accent)",
                
            _ => throw new ArgumentOutOfRangeException()
        };
        
        return ConcatClasses(
            SizeClasses,
            variantClasses,
            "cursor-pointer active:scale-95 hover:scale-105"
        );
    }

    private string TooltipAnchorClasses => TooltipAnchor switch {
        Anchor.Center | Anchor.Bottom => "top-full left-1/2 -translate-x-1/2 mt-2",
        Anchor.Left | Anchor.Bottom => "top-full right-1 translate-x-1 mt-2",
        Anchor.Right | Anchor.Bottom => "top-full left-1 -translate-x-1 mt-2",

        Anchor.Center | Anchor.Top => "bottom-full left-1/2 -translate-x-1/2 mb-2",
        Anchor.Left | Anchor.Top => "bottom-full right-1 translate-x-1 mb-2",
        Anchor.Right | Anchor.Top => "bottom-full left-1 -translate-x-1 mb-2",

        Anchor.Left => "top-0 translate-y-1 right-full mr-2",
        Anchor.Right => "top-0 translate-y-1 left-full ml-2",

        _ => "top-full left-1/2 -translate-x-1/2 mt-2"
    };

    private string SizeClasses => Size switch {
        _ => "px-2 py-1 text-base"
    };

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnClickAsync(MouseEventArgs args) {
        if (Disabled) return;

        await OnClick.InvokeAsync(args);
    }
}
