@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<a href="@VisualDebugger.AddDebugQueryParam(Href)"
   class="@InfiniSideNavItem.GetContainerClasses()"
   target="@(OpenInNewTab ? "_blank" : null)" 
   rel="noopener noreferrer">
    <InfiniSideNavItem Text="@Text" Icon="@Icon"/>
</a>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter][EditorRequired] public required string Href { get; init; }

    [CascadingParameter] public bool MenuCollapsed { get; set; }
    [Parameter] public RenderFragment? Text { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }

    [Parameter] public bool OpenInNewTab { get; set; }
}

