@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.JsRuntime
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@inject IJsRuntimeHelper JsRuntimeHelper

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="MenuCollapsed">
    <aside class="flex-shrink-0 h-full flex flex-col overflow-x-hidden bgc-(--sidebar-nav-background) border-r border-(--sidebar-nav-border-color)">
        <div class="@(MenuCollapsed ? ClassClosed : ClassOpen) px-2 h-full flex flex-col overflow-x-hidden transition-all duration-300">

            <!-- Top Logo and Hamburger -->
            <div
                class="@(MenuCollapsed ? "justify-center" : "justify-between") flex items-center h-12 min-h-[3rem] max-h-[3rem] w-full">
                <div
                    class="@(MenuCollapsed ? "opacity-0 w-0 overflow-hidden px-0" : "opacity-100 w-full px-2") flex items-center h-8 min-h-[2rem] max-h-[2rem] transition-all duration-300">
                    @Header
                </div>

                <!-- Hamburger Menu -->
                <button
                    class="text-(--sidebar-hamburger-color) h-8 w-8 min-h-[2rem] min-w-[2rem] flex items-center justify-center rounded hover:bg-(--sidebar-nav-background-hover) hover:text-(--sidebar-nav-text-color-hover) focus:outline-none"
                    @onclick="ToggleMenu">
                    <LiMenu class="w-6 h-6"/>
                </button>
            </div>

            <!-- Navigation -->
            @if (Body is not null) {
                <div class="border-t border-(--sidebar-nav-border-color) flex flex-col flex-grow overflow-x-hidden">
                    <div class="@(MenuCollapsed ? "infini-scrollbar-hidden" : "infini-scrollbar") relative flex grow overflow-x-hidden overflow-y-auto mt-2 mb-2">
                        <div
                            class="sticky top-0 left-0 right-0 h-3 bg-gradient-to-b from-black/10 to-transparent pointer-events-none z-10"></div>
                        <nav class="grow flex flex-col space-y-2">
                            @Body
                        </nav>
                        <div
                            class="sticky bottom-0 left-0 right-0 h-3 bg-gradient-to-t from-black/10 to-transparent pointer-events-none z-10"></div>
                    </div>
                </div>
            }

            <!-- Profile Section -->
            @if (Footer is not null) {
                <div class="border-t border-(--sidebar-nav-border-color) flex overflow-x-hidden shrink-0">
                    <div
                        class="@(MenuCollapsed ? "infini-scrollbar-hidden" : "infini-scrollbar") relative flex grow overflow-x-hidden overflow-y-auto mt-2 mb-2">
                        <div
                            class="sticky top-0 left-0 right-0 h-3 bg-gradient-to-b from-black/10 to-transparent pointer-events-none z-10"></div>
                        <nav class="grow flex flex-col space-y-2">
                            @Footer
                        </nav>
                        <div
                            class="sticky bottom-0 left-0 right-0 h-3 bg-gradient-to-t from-black/10 to-transparent pointer-events-none z-10"></div>
                    </div>
                </div>
            }
        </div>
    </aside>
</CascadingValue>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public SideNavSize Size { get; set; } = SideNavSize.Medium;
    [Parameter] public bool MenuCollapsed { get; set; }

    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    [Parameter] public EventCallback<bool> MenuCollapsedChanged { get; set; }

    private string ClassOpen => Size.ToTailwindWidth();
    private string ClassClosed => "w-14";

    private const string LocalStorageKey = "SideNavCollapsedState";

    private bool _initialized;

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override async Task OnInitializedAsync() {
        if (!RendererInfo.IsInteractive) return; // Only try to load state from localStorage in interactive mode
        bool savedState = await JsRuntimeHelper.GetFromLocalStorageAsync<bool>(LocalStorageKey);
        if (!savedState || _initialized) return;

        _initialized = true;
        MenuCollapsed = savedState;
        await MenuCollapsedChanged.InvokeAsync(MenuCollapsed);
        StateHasChanged();
    }

    private async Task ToggleMenu() {
        MenuCollapsed = !MenuCollapsed;
        if (RendererInfo.IsInteractive) await JsRuntimeHelper.SetToLocalStorageAsync(LocalStorageKey, MenuCollapsed);

        await MenuCollapsedChanged.InvokeAsync(MenuCollapsed);
        await InvokeAsync(StateHasChanged);
    }
}
