@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Theming
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveServer
@inject IThemeSelector ThemeSelector
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html *@
@* ------------------------------------------------------------------------------------------------------------------ *@
<SideNavMenu @bind-MenuCollapsed="@MenuCollapsed" Width="w-64">
    <Header>
        <a href="/"
           class="@(!MenuCollapsed ? "text-1xl font-bold text-(--color-base-00) hover:text-(--color-accent) no-underline" : "hidden")">
            InfiniBlazor
        </a>
    </Header>

    <Body>
        <SideNavMenuLink Href="/markdown-dual">
            <Icon><LiSignature/></Icon>
            <Text>Markdown Example</Text>
        </SideNavMenuLink>
        <SideNavMenuLink Href="/markdown-rolling">
            <Icon><LiIndentIncrease/></Icon>
            <Text>Rolling Markdown Example</Text>
        </SideNavMenuLink>
    <SideNavMenuUser
        UserName="InfiniLore"
        UserImage="/icon.png">
        <AdditionalLinks>
            <NavLink href="/"
                     class="@(SideNavMenuUser.AdditionalLinkClasses)">
                settings
            </NavLink>
            <NavLink href="/"
                     class="@(SideNavMenuUser.AdditionalLinkClasses)">
                logout
            </NavLink>
        </AdditionalLinks>
    </SideNavMenuUser>
        
    </Body>

    <Footer>
        <SideNavMenuLink Href="https://github.com/InfiniLore/infinilore.infiniblazor">
            <Icon><LiPackage/></Icon>
            <Text>Github</Text>
        </SideNavMenuLink>

        @* DEBUG *@
        <SideNavMenuButton OnClickAsync="@(SwitchTheme)">
            <Icon><LiPalette/></Icon>
            <Text>Switch Theme</Text>
        </SideNavMenuButton>

        <SideNavMenuButton OnClickAsync="@(ThemeSelector.TryToggleDarkAndLightModeAsync)">
            <Icon><LiSun/></Icon>
            <Text>Switch Mode</Text>
        </SideNavMenuButton>
    </Footer>


</SideNavMenu>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    private string Theme { get; set; } = "default";
    private bool MenuCollapsed { get; set; }// Tracks whether the menu is collapsed

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task SwitchTheme() {
        Theme = Theme switch {
            "default" => "anna",
            "anna" => "default",
            _ => Theme
        };
        await ThemeSelector.TrySelectThemeAsync(Theme);
    }
}
