@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports *@
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Theming
@using InfiniLore.InfiniBlazor.Toasting
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@rendermode InteractiveServer
@inject IThemeSelector ThemeSelector
@inject IToastStorage ToastService
@inject IToastAppearanceProvider ToastAppearanceProvider
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html *@
@* ------------------------------------------------------------------------------------------------------------------ *@
<SideNavMenu @bind-MenuCollapsed="@MenuCollapsed" Size="SideNavMenuSize.Large">
    <Header>
        <a href="/" 
           class="@(!MenuCollapsed ? "text-1xl font-bold text-(--color-base-00) hover:text-(--color-accent) no-underline" : "hidden")">
            InfiniBlazor
        </a>
    </Header>

    <Body>
        <SideNavMenuLink Href="/markdown-dual">
            <Icon>
                <LiSignature/>
            </Icon>
            <Text>Markdown Example</Text>
        </SideNavMenuLink>
        @* <SideNavMenuLink Href="/markdown-rolling"> *@
        @*     <Icon> *@
        @*         <LiIndentIncrease/> *@
        @*     </Icon> *@
        @*     <Text>Rolling Markdown Example</Text> *@
        @* </SideNavMenuLink> *@
        <SideNavMenuLink Href="/table">
            <Icon><LiTable/></Icon>
            <Text>Table</Text>
        </SideNavMenuLink>
        <SideNavMenuLink Href="/html">
            <Icon><LiCodeXml/></Icon>
            <Text>Html</Text>
        </SideNavMenuLink>
        <SideNavMenuLink Href="/theming/table">
            <Icon><LiTable2/></Icon>
            <Text>theming table</Text>
        </SideNavMenuLink>

        <SideNavMenuButton OnClickAsync="@(OnCreateToastAsync)">
            <Icon><LiPopcorn/></Icon>
            <Text>Create Toast</Text>
        </SideNavMenuButton>
    </Body>

    <Footer>
        <SideNavMenuLink Href="https://github.com/InfiniLore/infinilore.infiniblazor">
            <Icon>
                <LiPackage/>
            </Icon>
            <Text>Github</Text>
        </SideNavMenuLink>

        @* DEBUG *@
        <SideNavMenuButton OnClickAsync="@(SwitchTheme)">
            <Icon>
                <LiPalette/>
            </Icon>
            <Text>Switch Theme</Text>
        </SideNavMenuButton>

        <SideNavMenuButton OnClickAsync="@(ThemeSelector.TrySelectNextThemeModeAsync)">
            <Icon>
                <LiSun/>
            </Icon>
            <Text>Switch Mode</Text>
        </SideNavMenuButton>

        @* User *@
        <SideNavMenuUser UserName="InfiniLore">
            <Icon>
                <UserIcon
                    ImageUrl="@_currentUserImage"
                    HrefUserProfile="/"/>
            </Icon>
            <AdditionalLinks>
                <button @onclick="SwitchUserImage"
                        class="@(SideNavMenuUser.AdditionalLinkClasses)">
                    switch
                </button>
                <NavLink href="/"
                         class="@(SideNavMenuUser.AdditionalLinkClasses)">
                    logout
                </NavLink>
            </AdditionalLinks>
        </SideNavMenuUser>

    </Footer>


</SideNavMenu>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code *@
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    private string Theme { get; set; } = "default";
    private bool MenuCollapsed { get; set; }// Tracks whether the menu is collapsed
    private string _currentUserImage = "/icon.png";

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task SwitchTheme() {
        Theme = Theme switch {
            "default" => "anna",
            "anna" => "default",
            _ => Theme
        };
        await ThemeSelector.TrySelectThemeCollectionAsync(Theme);
    }

    private void SwitchUserImage() {
        _currentUserImage = _currentUserImage == "/icon.png" ? "aaa/icon.png" : "/icon.png";
    }

    private async Task OnCreateToastAsync() {
        IToastData[] messages = [
            new ToastData(
                "info",
                10,
                ToastAppearanceProvider.GetAppearanceOrDefault(StandardToastAppearance.Info)
            ),
            new ToastData(
                "success",
                10,
                ToastAppearanceProvider.GetAppearanceOrDefault(StandardToastAppearance.Success)
            ),
            new ToastData(
                "warning",
                10,
                ToastAppearanceProvider.GetAppearanceOrDefault(StandardToastAppearance.Warning)
            ),
            new ToastData(
                "error",
                10,
                ToastAppearanceProvider.GetAppearanceOrDefault(StandardToastAppearance.Error),
                "Some Data",
                "#",
                "click here"
            ),
        ];

        await Task.WhenAll(messages.Select(message => ToastService.AddToastAsync(message).AsTask()));
    }
}
