@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniDialogBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniDialog>
    <InfiniSection Class="flex grow w-full h-full border-none">
        <InfiniHeading3>@Title</InfiniHeading3>

        <InfiniSpacerVertical Spacing="Size.Xs"/>
        <p class="overflow-y-auto h-full infini-scrollbar">@Body</p>

        <InfiniSpacer/>
        <InfiniSpacerVertical Spacing="Size.M"/>

        <div class="flex flex-row justify-center w-full">
            <div class="flex flex-row justify-around w-full">
                @if (OnExit.HasDelegate) {
                    <InfiniButton
                        Class="w-[85px]"
                        Color="Color.Red"
                        OnClick="@InvokeOnExit"
                        Text="Exit"/>
                }
                
                @if (OnReturn.HasDelegate) {
                    <InfiniButton
                        Class="w-[85px]"
                        OnClick="@InvokeOnReturn"
                        Text="Return"/>
                }

                @if (OnContinue.HasDelegate) {
                    <InfiniButton
                        Class="w-[85px]"
                        Color="Color.Green"
                        OnClick="@InvokeOnContinue"
                        Text="Continue"/>
                }
            </div>
        </div>
    </InfiniSection>
</InfiniDialog>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Body { get; set; } = string.Empty;
    [Parameter] public EventCallback OnReturn { get; set; }
    [Parameter] public EventCallback OnExit { get; set; }
    [Parameter] public EventCallback OnContinue { get; set; }

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task InvokeOnReturn() {
        await OnReturn.InvokeAsync();
        DialogManagerContext.InvokeDialogExit();
    }

    private async Task InvokeOnContinue() {
        await OnContinue.InvokeAsync();
        DialogManagerContext.InvokeDialogExit();
    }

    private async Task InvokeOnExit() {
        await OnExit.InvokeAsync();
        DialogManagerContext.InvokeDialogExit();
    }
}