@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniChildlessComponentBase

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingValue Value="@Context">
    <div class="h-full grid grid-cols-1 grid-rows-[auto_1fr] gap-0">
        <div class="@GetContainerStyling() w-full overflow-x-auto overflow-y-hidden infini-scrollbar">
            @foreach (string tab in Context.Tabs) {
                <InfiniButton
                    Class="@GetButtonStyling()"
                    Variant="@(Context.SelectedTabId == tab ? ButtonVariant.TabSelected : ButtonVariant.TabUnSelected)"
                    OnClick="@(() => Context.SelectPage(tab))">
                    @tab
                </InfiniButton>
            }
        </div>
        <div class="w-full h-full border-1 rounded-b-md px-1 border-(--border)">
            @ChildContent
        </div>
    </div>
</CascadingValue>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public TabContainerStyle Style { get; set; } = TabContainerStyle.Default;
    
    private InfiniTabContainerContext Context { get; set; } = new();

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private string GetContainerStyling() => Style switch {
        TabContainerStyle.Default => "flex justify-start",
        TabContainerStyle.Center => "flex justify-center",
        TabContainerStyle.Stretch => "grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] gap-2",
        TabContainerStyle.Right => "flex justify-end",
        _ => throw new ArgumentOutOfRangeException()
    };
    private string GetButtonStyling() => Style switch {
        TabContainerStyle.Default => string.Empty,
        TabContainerStyle.Center => string.Empty ,
        TabContainerStyle.Stretch => "w-full",
        TabContainerStyle.Right => string.Empty,
        _ => throw new ArgumentOutOfRangeException()
    };
    
    protected override void OnInitialized() {
        base.OnInitialized();
        Context.OnTabRegisterChange += StateHasChanged;
        Context.OnTabSelected += StateHasChanged;
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        Context.OnTabRegisterChange -= StateHasChanged;
        Context.OnTabSelected -= StateHasChanged;
    }
}
