@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits ComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex flex-col w-full min-h-10">
    @* ReSharper disable once SwitchStatementHandlesSomeKnownEnumValuesWithDefault *@
    @if (Component.LabelLocation == LabelLocation.OnTop && Component.Label.IsNotNullOrWhiteSpace()) {
        <div class="flex flex-row pb-1">
            <InfiniLabel For="@Component.Id" Class="break-all">@Component.Label</InfiniLabel>
            <InfiniSpacer/>
            <div class="text-(--color-red) text-sm">@Component.ValidationMessage</div>
        </div>
    }

    <div class="flex grow justify-between items-center gap-2">
        @if (Component.LabelLocation == LabelLocation.Left && Component.Label.IsNotNullOrWhiteSpace()) {
            <InfiniLabel For="@Component.Id" Class="break-words shrink-0 gap-x-2 md:max-w-sm sm:max-w-[150px]">@Component.Label</InfiniLabel>
        }
        
        <div class="flex flex-row w-full items-center gap-2">
            <CascadingValue TValue="bool" Name="@nameof(Component.CascadedDisabled)" Value="@Component.CascadedDisabled">
                @ChildContent
            </CascadingValue>
        </div>
    </div>

    @if (Component.Label.IsNullOrWhiteSpace() && Component.ValidationMessage.IsNotNullOrEmpty()) {
        <div class="text-(--color-red) text-sm mt-1">@Component.ValidationMessage</div>
    }
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter, EditorRequired] public InfiniInputBase Component { get; set; } = null!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
