@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Microsoft.AspNetCore.Components.Routing

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniNavItemBase
@inject IQueryParameterManager QueryParameterManager
@implements IDisposable
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<a href="@_computedHref"
   class="@ContainerClasses"
   target="@(OpenInNewTab ? "_blank" : null)"
   rel="noopener noreferrer"
   hidden="@Hidden"
   @onclick="() => SubMenuContext?.OnSubItemPressed?.Invoke()"
   >
    <InfiniNavItem Text="@Text" IconName="@IconName" Class="@Class">
        @ChildContent
    </InfiniNavItem>
</a>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter, EditorRequired] public required string Href { get; init; }

    [Parameter] public bool OpenInNewTab { get; set; }
    [Parameter] public bool DisableTrackedQueryParams { get; set; }

    private string? _computedHref;

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        if (!DisableTrackedQueryParams) NavigationManager.LocationChanged += OnLocationChanged;
        ComputeHref();
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
        ComputeHref();
        InvokeAsync(StateHasChanged);
    }

    private void ComputeHref() {
        _computedHref = !DisableTrackedQueryParams 
            ? QueryParameterManager.AddTrackedQueryParameters(Href)
            : Href;
    }

    public void Dispose() {
        if (!DisableTrackedQueryParams) NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

