@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniNavItemBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div @onclick="OnContainerClick"
     class="@(ConcatClasses(Class, NavBarCollapsed ? "px-1 py-2" : "p-2")) flex flex-nowrap items-center rounded hover:bg-(--sidebar-nav-button-hover) group transition-all duration-300">
    <span class="@ConcatClasses(Direction.ToFlexRow(), NavBarCollapsed ? "gap-0": "gap-4")  flex items-center w-full transition-all justify-between">
        <span class="@(NavBarCollapsed ? "" : "-ml-1") transition-all duration-300">
            @UserIcon
        </span>

        <!-- User Info -->
        <div
            hidden="@Hidden"
            class="@(NavBarCollapsed ? "opacity-0 w-0 h-6 overflow-hidden" : "opacity-100 w-auto h-8") flex flex-col justify-center items-end transition-all duration-300">
            <span>
                <a href="@HrefUserProfile"
                   @onclick:stopPropagation
                   class="font-semibold text-(--sidebar-nav-text) hover:text-(--sidebar-nav-text-hover) whitespace-nowrap text-right"
                   style="font-size: clamp(0.45rem, calc(150px / (@UserName.Length * 0.6)), 1rem);"
                   title="@UserName">
                    @UserName
                </a>
            </span>

            <span class="flex items-center justify-between flex-row gap-4 h-[1.25rem] ">
                @AdditionalLinks
            </span>
        </div>
    </span>
</div>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public string UserName { get; set; } = "Unknown Username";
    [Parameter] public string HrefUserProfile { get; set; } = string.Empty;
    [Parameter, EditorRequired] public RenderFragment UserIcon { get; set; } = null!;
    
    [Parameter] public RenderFragment? AdditionalLinks { get; set; }
    [Parameter] public Direction Direction { get; set; } = Direction.LeftToRight;
    
    public static string AdditionalLinkClasses => "text-sm text-(--color-base-10) whitespace-nowrap hover:text-(--color-accent)";
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private void OnContainerClick() {
        if (!NavBarCollapsed) return;
        NavigationManager.NavigateTo(HrefUserProfile);
    }
}

