@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniNavLinkBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<a href="@ComputedHref"
   class="@ContainerClasses"
   target="@(OpenInNewTab ? "_blank" : null)"
   rel="noopener noreferrer"
   hidden="@IsHidden"
   @onclick="() => SubMenuContext?.OnSubItemPressed?.Invoke()"
   >
    <InfiniNavItem Text="@Text" Icon="@Icon" Class="@Class">
        @ChildContent
    </InfiniNavItem>
</a>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public bool OpenInNewTab { get; set; }
}

