@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Infinilore.InfiniBlazor
@using InfiniLore.Lucide
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@GetContainerClasses()">
    @if (Label != null && LabelPos == LabelPosition.Top) {
        <InfiniLabel class="mb-2">@Label</InfiniLabel>
    }
    <div class="@GetToggleContainerClasses()">
        @if (Label != null && LabelPos == LabelPosition.Left) {
            <InfiniLabel class="mr-2">@Label</InfiniLabel>
        }
        <button @onclick="OnClickAsync"
                @onclick:stopPropagation="@StopPropagation"
                type="@Type"
                disabled="@Disabled"
                aria-label="@AriaLabel"
                aria-checked="@Value"
                class="@(DisableClasses) @GetInnerDebugClasses()">
            <div class="@ContainerClasses">
                <div class="relative w-full h-full">
                    <div class="@SliderClasses @GetSliderDebugClasses()">
                        @if (OnIcon.IsNotNullOrWhiteSpace()) {
                            <LucideIcon Name="@OnIcon" class="@(Value ? IconOnClasses : "opacity-0")"/>
                        }
                        @if (OffIcon.IsNotNullOrWhiteSpace()) {
                            <LucideIcon Name="@OffIcon" class="@(!Value ? IconOffClasses : "opacity-0")"/>
                        }
                    </div>
                </div>
            </div>
        </button>
        @if (Label != null && LabelPos == LabelPosition.Right) {
            <InfiniLabel class="ml-2">@Label</InfiniLabel>
        }
    </div>
    @if (Label != null && LabelPos == LabelPosition.Bottom) {
        <InfiniLabel class="mt-2">@Label</InfiniLabel>
    }
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public string? OnIcon { get; set; }
    [Parameter] public string? OffIcon { get; set; }
    [Parameter] public bool StopPropagation { get; set; } = true;
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public Size Size { get; set; } = Size.M;
    [Parameter] public string? Tooltip { get; set; }
    [Parameter] public Anchor TooltipAnchor { get; set; } = Anchor.Center | Anchor.Bottom;

    [Parameter] public string? Label { get; set; }
    [Parameter] public LabelPosition LabelPos { get; set; } = LabelPosition.Left;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private string GetContainerClasses() => Class + " " + (LabelPos is LabelPosition.Top or LabelPosition.Bottom 
        ? "flex flex-col items-center" 
        : "flex") + " " + GetDebugClasses();

    private string GetToggleContainerClasses() => LabelPos is LabelPosition.Left or LabelPosition.Right 
        ? "flex items-center" 
        : "";

    
    private string ContainerClasses => Size switch {
            Size.Xxs => "w-8 h-4",
            Size.Xs => "w-10 h-5",
            Size.S => "w-12 h-6",
            Size.M => "w-14 h-7",
            Size.L => "w-16 h-8",
            Size.Xl => "w-20 h-10",
            Size.Xxl => "w-24 h-12",
            _ => "w-14 h-7"
        } + $" rounded-full bg-(--color-base-70) {(Value ? "bg-(--color-accent)" : "")} transition-colors duration-300 relative overflow-hidden";

    private string SliderClasses => Size switch {
            Size.Xxs => "absolute w-3 h-3 top-0.5 left-0.5",
            Size.Xs => "absolute w-4 h-4 top-0.5 left-0.5",
            Size.S => "absolute w-5 h-5 top-0.5 left-0.5",
            Size.M => "absolute w-6 h-6 top-0.5 left-0.5",
            Size.L => "absolute w-7 h-7 top-0.5 left-0.5",
            Size.Xl => "absolute w-9 h-9 top-0.5 left-0.5",
            Size.Xxl => "absolute w-11 h-11 top-0.5 left-0.5",
            _ => "absolute w-6 h-6 top-0.5 left-0.5"
        } + " flex items-center justify-center " +
        "bg-(--color-base-30) rounded-full transition-transform duration-300 " +
        (Value
            ? Size switch {
                Size.Xxs => "translate-x-[1rem]",
                Size.Xs => "translate-x-[1.25rem]",
                Size.S => "translate-x-[1.5rem]",
                Size.M => "translate-x-[1.75rem]",
                Size.L => "translate-x-[2rem]",
                Size.Xl => "translate-x-[2.5rem]",
                Size.Xxl => "translate-x-[3rem]",
                _ => "translate-x-[1.75rem]"
            }
            : "translate-x-0");

    private string IconOnClasses => Size switch {
        Size.Xxs => "absolute w-2 h-2",
        Size.Xs => "absolute w-2.5 h-2.5",
        Size.S => "absolute w-3 h-3",
        Size.M => "absolute w-4 h-4",
        Size.L => "absolute w-5 h-5",
        Size.Xl => "absolute w-6 h-6",
        Size.Xxl => "absolute w-8 h-8",
        _ => "absolute w-4 h-4"
    } + " transform transition-all duration-300 text-(--color-accent)";

    private string IconOffClasses => Size switch {
        Size.Xxs => "absolute w-2 h-2",
        Size.Xs => "absolute w-2.5 h-2.5",
        Size.S => "absolute w-3 h-3",
        Size.M => "absolute w-4 h-4",
        Size.L => "absolute w-5 h-5",
        Size.Xl => "absolute w-6 h-6",
        Size.Xxl => "absolute w-8 h-8",
        _ => "absolute w-4 h-4"
    } + " transform transition-all duration-300 text-(--color-base-70)";

    private string DisableClasses => Disabled
        ? "opacity-50 cursor-not-allowed"
        : "cursor-pointer";

    // private string TooltipAnchorClasses => TooltipAnchor switch {
    //     Anchor.Center | Anchor.Bottom => "top-full left-1/2 -translate-x-1/2 mt-2",
    //     Anchor.Left | Anchor.Bottom => "top-full right-1 translate-x-1 mt-2",
    //     Anchor.Right | Anchor.Bottom => "top-full left-1 -translate-x-1 mt-2",
    //     Anchor.Center | Anchor.Top => "bottom-full left-1/2 -translate-x-1/2 mb-2",
    //     Anchor.Left | Anchor.Top => "bottom-full right-1 translate-x-1 mb-2",
    //     Anchor.Right | Anchor.Top => "bottom-full left-1 -translate-x-1 mb-2",
    //     Anchor.Left => "top-0 translate-y-1 right-full mr-2",
    //     Anchor.Right => "top-0 translate-y-1 left-full ml-2",
    //     _ => "top-full left-1/2 -translate-x-1/2 mt-2"
    // };

    private async Task OnClickAsync() {
        if (Disabled) return;

        Value = !Value;
        await ValueChanged.InvokeAsync(Value);
    }
    
    private string GetDebugClasses() {
        if (!VisualDebugger.IsEnabled()) return string.Empty;
        return $"{VisualDebugger.GetAsBorder(DebugColor)} {VisualDebugger.GetAsStripes(DebugColor)}";
    }

    private string GetInnerDebugClasses() {
        if (!VisualDebugger.IsEnabled()) return string.Empty;
        return $"{VisualDebugger.GetAsBorder(DebugColor)} {VisualDebugger.GetAsStripes(DebugColor)}";
    }

    private string GetSliderDebugClasses() {
        if (!VisualDebugger.IsEnabled()) return string.Empty;
        return VisualDebugger.GetAsBorder(DebugColor);
    }

}
