@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide
@using Microsoft.Extensions.Logging

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@inject ILogger<InfiniFrontMatterEntry> Logger
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex flex-row items-center gap-1">
    <LucideIcon Size="24" Name="@IconName"/>
    <div class="w-1/5">
        <InfiniTextInput
            Class="overload-bg-infini-base-90 border-none hover:overload-bg-infini-base-80 focus:overload-bg-infini-base-80 hover:border-infini-base-60"
            Value="@Key"
            ValueChanged="@KeyChanged"
        />
    </div>
    <div class="w-4/5 flex flex-row items-center gap-1">
        @switch (Value) {
            case int intValue: {
                <InfiniTextInput
                    Class="overload-bg-infini-base-80 border-infini-base-60"
                    Value="@intValue.ToString()"
                    ValueChanged="@(async (string? s) => await ValueChanged.InvokeAsync(s))"/>
                break;
            }
            case string stringValue: {
                <InfiniTextInput
                    Class="overload-bg-infini-base-80 border-infini-base-60"
                    Value="@stringValue"
                    ValueChanged="@(async (string? s) => await ValueChanged.InvokeAsync(s))"/>
                break;
            }

            case bool boolValue: {
                <InfiniToggleInput
                    Class="overload-bg-infini-base-80 border-infini-base-60"
                    Value="@boolValue"
                    ValueChanged="@(async b => await ValueChanged.InvokeAsync(b))"/>
                break;
            }

            case List<object?> listValue: {
                for (int index = 0; index < listValue.Count; index++) {
                    object? item = listValue[index];
                    int i = index;
                    <InfiniTextInput
                        Class="overload-bg-infini-base-80 border-infini-base-60"
                        Value="@item?.ToString()"
                        ValueChanged="@(async (string? s) => await OnListValueChanged(s, i, listValue))">
                        
                        <InfiniButtonTransparent Size="Size.Xs" IconName="@LucideNames.Minus" OnClick="@(async _ => await OnListValueRemove(listValue, i))"/>
                    </InfiniTextInput>
                }
                <InfiniButtonTransparent IconName="@LucideNames.Plus" OnClick="@(async _ => await OnListValueAdd(listValue))"/>
                break;
            } 
        }
    </div>
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [EditorRequired, Parameter] public string? Key { get; set; } = string.Empty;
    [Parameter] public EventCallback<string?> KeyChanged { get; set; }

    [Parameter] public object? Value { get; set; }
    [Parameter] public EventCallback<object?> ValueChanged { get; set; }

    [Parameter] public string IconName { get; set; } = DefaultIconName;
    public const string DefaultIconName = LucideNames.ChevronRight;

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnListValueChanged(string? s, int index, List<object?> list) {
        if (index == -1) {
            Logger.Warning("Could not find index of value {value}", s);
            return;
        }
        
        list[index] = s;
        await ValueChanged.InvokeAsync(list);
    }
    private async Task OnListValueAdd(List<object?> list) {
        list.Add(string.Empty);
        await ValueChanged.InvokeAsync(list);
    }

    private async Task OnListValueRemove(List<object?> list, int index) {
        list.RemoveAt(index);
        await ValueChanged.InvokeAsync(list);
    }
}