@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="flex flex-row items-center gap-1">
    <LucideIcon Size="24" Name="@IconName"/>
    <div class="w-1/5"><InfiniTextInput Value="@Key" ValueChanged="@KeyChanged" Class="w-1/5"/></div>
    <div class="w-4/5"><InfiniTextInput Value="@Value" ValueChanged="@ValueChanged" Class="w-4/5"/></div>
</div>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [EditorRequired, Parameter] public string Key { get; set; } = string.Empty;
    [Parameter] public EventCallback<string?> KeyChanged { get; set; }
    
    [Parameter] public string? Value { get; set; } 
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    
    [Parameter] public string IconName { get; set; } = DefaultIconName;
    public const string DefaultIconName = LucideNames.ChevronRight;
}