@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.Components.FrontMatter
@using Microsoft.Extensions.Logging

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@inject ILogger<InfiniFrontMatter> Logger
@inject IFrontMatterProvider FrontMatterProvider
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniHeading3>@Title</InfiniHeading3>
@{Logger.Information("HERE {@entries}", Source);}
<div class="flex flex-col gap-0.5">
    @if (_entries is not null) {
        foreach (IFrontMatterEntry entry in _entries) {
            string iconName = FrontMatterProvider.TryGetIconName(entry.Key, out string? icon) ? icon : InfiniFrontMatterEntry.DefaultIconName;
            <InfiniFrontMatterEntry
                IconName="@iconName"
                Key="@entry.Key"
                KeyChanged="@(async s => await OnKeyChanged(s, entry))"
                Value="@entry.Value"
                ValueChanged="@(async s => await OnValueChanged(s, entry))"
                />
        }
    }
    else {
        @ChildContent
    }
</div>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public string Title { get; set; } = "Properties";
    [Parameter] public string? Source { get; set; } 
    [Parameter] public string? SourceLang { get; set; }
    [Parameter] public EventCallback<IEnumerable<IFrontMatterEntry>> OnEntriesChanged { get; set; }

    private List<IFrontMatterEntry>? _entries;

    protected override void OnParametersSet() {
        base.OnParametersSet();
        if (Source.IsNullOrWhiteSpace()) return;
        
        FrontMatterProvider.TryParse(Source ?? string.Empty, SourceLang, out IEnumerable<IFrontMatterEntry>? entries);
        _entries = entries as List<IFrontMatterEntry> ?? entries?.ToList();
    }

    private async Task OnKeyChanged(string? newKey, IFrontMatterEntry oldEntry) {
        if (_entries is null) return;
        int index = _entries.FindIndex(e => e.Equals(oldEntry));
        if (index == -1) return;

        _entries[index] = new FrontMatterEntryData(newKey ?? string.Empty, oldEntry.Value);
        
        Logger.Information("Front matter entries change requested");
        await OnEntriesChanged.InvokeAsync(_entries);
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnValueChanged(string? newValue, IFrontMatterEntry oldEntry) {
        if (_entries is null) return;
        int index = _entries.FindIndex(e => e.Equals(oldEntry));
        if (index == -1) return;

        _entries[index] = new FrontMatterEntryData(oldEntry.Key, newValue);

        Logger.Information("Front matter entries change requested");
        await OnEntriesChanged.InvokeAsync(_entries);
        await InvokeAsync(StateHasChanged);
    }
}
