@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor.JsRuntime
@using InfiniLore.Lucide

@namespace InfiniLore.InfiniBlazor.Components
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@inject IJsInfiniBlazor JsInfiniBlazor
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<div class="@Class relative flex overflow-hidden min-h-0 text-(--color-base-10)">
    <div class="absolute top-2 right-4 flex justify-end @ZIndex.CodeBlockCopyButton">
        @if (EnableCopy) {
            <InfiniButtonOutlineSolidToolTipped
                IconName="@LucideNames.Copy"
                OnClick="@CopyToClipboardAsync"
                TooltipAnchor="@Anchor.Left">
                <Content>@Language</Content>
                <Tooltip>Copy to clipboard</Tooltip>
            </InfiniButtonOutlineSolidToolTipped>
        }
    </div>
    <div class="infini-bg-(--codeblock) text-sm border border-(--border) rounded p-4 overflow-auto w-full min-h-0 infini-scrollbar">
        <div class="relative">
            <pre class="whitespace-pre m-0 font-mono min-h-0"><code>@Content @ChildContent</code></pre>
        </div>
    </div>
</div>


@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@
@code {
    [Parameter] public string? Content { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ContentChanged { get; set; }
    [Parameter] public string? Language { get; set; }
    [Parameter] public bool EnableCopy { get; set; } = true;
    
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task CopyToClipboardAsync() {
        if (Content.IsNullOrWhiteSpace()) return;

        await JsInfiniBlazor.CopyToClipboardAsync(Content);
    }
}
