@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using InfiniLore.InfiniBlazor
@using InfiniLore.InfiniBlazor.Markdown
@using InfiniLore.InfiniBlazor.Toasting
@using Tests.InfiniBlazor.Shared.Markdown

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject IMarkdownParser MarkdownParser
@inject IToastingProvider ToastingProvider
@inject MdTestDataProvider MdTestDataProvider

@implements IDisposable
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<InfiniHeading3>Markdown Test Data Editor</InfiniHeading3>

<div class="flex flex-col size-full ">
    @* Test Data Section *@
    <div class=" flex flex-col gap-2">
        <InfiniTextInput Label="FileName" @bind-Value="FileName"/>
        <InfiniTextInput Label="Test Id" @bind-Value="TestId">
            <InfiniButton OnClick="@OnRenameClickedAsync">Rename</InfiniButton>
        </InfiniTextInput>
        <InfiniTextAreaInput Label="Added Note" @bind-Value="DeveloperNote" class="h-24"/>

        <div class="w-full flex justify-center gap-2">
            <InfiniButton IconName="@LucideNames.BrushCleaning" OnClick="@OnClearAsync">
                Clear
            </InfiniButton>
            <InfiniButton IconName="@LucideNames.Search" OnClick="@OnFetchAsync">Fetch
            </InfiniButton>
            <InfiniSpacer/>
            <InfiniButton IconName="@LucideNames.Save" Color="Color.Green"
                          OnClick="@OnSaveAsync">Save
            </InfiniButton>
            <InfiniButton IconName="@LucideNames.Trash2" Color="Color.Red"
                          OnClick="@OnDeleteAsync">Delete
            </InfiniButton>
        </div>
    </div>

    <InfiniDivider></InfiniDivider>

    @* Test Editors section *@
    <div class="h-full w-full grid grid-cols-[1fr_auto_1fr] gap-0">
        <div class="h-full w-full flex flex-col gap-1">
            <InfiniHeading4 Class="min-h-6">Markdown Input</InfiniHeading4>

            <InfiniMarkdownEditorNew @bind-EditorContext="Context"/>

            <InfiniSpacer/>
            <div class="w-full flex justify-center items-center h-16">
                <InfiniToggleInput Label="Freeze Auto Updates" @bind-Value="FreezeAutoUpdates"/>
                @if (FreezeAutoUpdates) {
                    <InfiniSpacerHorizontal Spacing="Size.M"/>
                    <InfiniButton OnClick="@(async _ => await OnGenerateAsync())">Generate Outputs
                    </InfiniButton>
                }
            </div>
        </div>

        <InfiniDivider Orientation="@Orientation.Vertical"/>

        <div class="h-full w-full flex flex-col gap-1 mt-2">
            <InfiniTabContainer>
                <InfiniTabContent TabName="Syntax Tree">
                    <InfiniTextAreaInput
                        @bind-Value="@ExpectedSyntaxTreeString"
                        Rows="22"
                        Class="font-mono w-full"/>
                </InfiniTabContent>

                <InfiniTabContent TabName="Simplified HTML">
                    <InfiniTextAreaInput
                        @bind-Value="@ExpectedHtmlStringSimplified"
                        Rows="22"
                        Class="font-mono w-full"/>
                </InfiniTabContent>

                <InfiniTabContent TabName="Markdown">
                    <InfiniTextAreaInput
                        @bind-Value="@ExpectedMarkdownString"
                        Rows="22"
                        Class="font-mono w-full"/>
                    <InfiniToggleInput
                        Label="Skip test on whitespace mismatch"
                        @bind-Value="@SkipOnWhitespaceMisMatch"
                    />
                </InfiniTabContent>

                <InfiniTabContent TabName="Blazor">
                    <InfiniMdEditorStandalonePreview @bind-EditorContext="@Context"/>
                </InfiniTabContent>
            </InfiniTabContainer>

            @if (ExpectedMarkdownString.IsNotNullOrWhiteSpace() && !string.Equals(Context.Content, ExpectedMarkdownString)) {
                <div class="text-red-500 text-center">
                    Markdown does not match expected output.
                    This often means an underlying issue with the markdown parser.
                </div>
            }
        </div>

    </div>
</div>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [Parameter] public string FileName { get; set; } = string.Empty;
    [Parameter] public string TestId { get; set; } = string.Empty;
    [Parameter] public EventCallback OnSave { get; set; }

    public string? DeveloperNote { get; set; } = string.Empty;

    private MdTestData? TestDataOrigin { get; set; }

    private string ExpectedSyntaxTreeString { get; set; } = string.Empty;
    private string? ExpectedHtmlStringSimplified { get; set; } = string.Empty;
    private string? ExpectedMarkdownString { get; set; } = string.Empty;
    private bool SkipOnWhitespaceMisMatch { get; set; }

    public bool FreezeAutoUpdates { get; set; }

    public MdEditorContext Context = new MdEditorContext {
        IsInteractive = false,
        ShowInput = true,
        ShowPreview = false,
    };

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    protected override void OnInitialized() {
        base.OnInitialized();

        Context.OnSyntaxTreeChangedAsync += OnGenerateAsync;
    }
    
    public void Dispose() {
        Context.OnSyntaxTreeChangedAsync -= OnGenerateAsync;
    }

    public async Task LoadTestData(string fileName, string testId) {
        FileName = fileName;
        TestId = testId;

        if (!FileName.IsNullOrWhiteSpace() && !TestId.IsNullOrWhiteSpace()) {
            await OnFetchAsync();
        }
    }

    private async Task OnGenerateAsync() {
        await Task.WhenAll(
            GenerateXmlString(),
            GenerateSimpleHtmlString(),
            GenerateMarkdownString()
        );
    }

    private async Task GenerateXmlString() {
        IMdSyntaxTree tree = Context.SyntaxTree;
        using var memoryStream = new MemoryStream();
        await MarkdownParser.Xml.DeserializeToXmlStreamAsync(memoryStream, tree);

        memoryStream.Position = 0;
        string result = await new StreamReader(memoryStream).ReadToEndAsync();
        ExpectedSyntaxTreeString = result;
    }

    private Task GenerateSimpleHtmlString() {
        IMdSyntaxTree tree = Context.SyntaxTree;
        ExpectedHtmlStringSimplified = MarkdownParser.HtmlString.DeserializeToString(tree);
        return Task.CompletedTask;
    }

    private Task GenerateMarkdownString() {
        IMdSyntaxTree tree = Context.SyntaxTree;
        ExpectedMarkdownString = MarkdownParser.MarkdownString.DeserializeToString(tree);
        return Task.CompletedTask;
    }

    private async Task OnFetchAsync() {
        List<MdTestData>? dataList = await MdTestDataProvider.TryGetXmlMdTestDataAsync(FileName);
        if (dataList is null) {
            await ToastingProvider.PublishToastAsync(
                new ToastingData("File could not be found", FileName),
                ToastAppearance.Warning
            );
            return;
        }

        if (dataList.FirstOrDefault(data => data.Id == TestId) is not {} testData) {
            var toastData = new ToastingData("Test Id was not valid", TestId);
            await ToastingProvider.PublishToastAsync(toastData, ToastAppearance.Warning);
            return;
        }

        FileName = testData.FileName;
        TestId = testData.Id;
        DeveloperNote = testData.DeveloperNote;

        Context.Content = testData.MdString;

        if (testData.MdSyntaxTree is {} tree) {
            using MemoryStream memoryStream = new MemoryStream();
            await MarkdownParser.Xml.DeserializeToXmlStreamAsync(memoryStream, tree);

            memoryStream.Position = 0;
            ExpectedSyntaxTreeString = await new StreamReader(memoryStream).ReadToEndAsync();
        }

        ExpectedHtmlStringSimplified = testData.ExpectedHtmlStringSimplified;
        ExpectedMarkdownString = testData.ExpectedMarkdownString;
        SkipOnWhitespaceMisMatch = testData.ExpectedMarkdownStringSkipOnWhitespaceMisMatch;

        TestDataOrigin = testData;
    }

    private async Task OnSaveAsync() {
        if (TestId.IsNullOrWhiteSpace()) {
            var toastData = new ToastingData("Test Id was not valid", TestId);
            await ToastingProvider.PublishToastAsync(toastData, ToastAppearance.Warning);
            return;
        }

        var xmlData = new MdTestData {
            FileName = FileName,
            Id = TestId,
            DeveloperNote = DeveloperNote,
            MdString = Context.Content,
            MdSyntaxTree = Context.SyntaxTree,
            ExpectedHtmlStringSimplified = ExpectedHtmlStringSimplified,
            ExpectedMarkdownString = ExpectedMarkdownString,
            ExpectedMarkdownStringSkipOnWhitespaceMisMatch = SkipOnWhitespaceMisMatch
        };

        if (!await MdTestDataProvider.TryAddOrUpdateAsync(xmlData.FileName, xmlData)) {
            var toastData = new ToastingData("Test could not be saved", TestId);
            await ToastingProvider.PublishToastAsync(toastData, ToastAppearance.Error);
            return;
        }

        await ToastingProvider.PublishToastAsync(
        new ToastingData("Test was saved", TestId),
        ToastAppearance.Success
        );

        // Notify parent component about the rename
        await OnSave.InvokeAsync();
    }

    private async Task OnDeleteAsync() {

        if (!await MdTestDataProvider.TryDeleteAsync(FileName, TestId)) {
            var toastData = new ToastingData("Could not delete Test", TestId);
            await ToastingProvider.PublishToastAsync(toastData, ToastAppearance.Warning);
            return;
        }

        FileName = string.Empty;
        TestId = string.Empty;
        DeveloperNote = string.Empty;
        Context.Content = string.Empty;
        ExpectedHtmlStringSimplified = string.Empty;
        ExpectedMarkdownString = string.Empty;
        ExpectedSyntaxTreeString = string.Empty;
        TestDataOrigin = null;

        await ToastingProvider.PublishToastAsync(
        new ToastingData("Test was Deleted", TestId),
        ToastAppearance.Success
        );

        // Notify parent component about the rename
        await OnSave.InvokeAsync();
    }

    private async Task OnRenameClickedAsync() {
        if (TestDataOrigin is null) {
            var toastData = new ToastingData("Could not not rename Test", "Did not come from a valid data source");
            await ToastingProvider.PublishToastAsync(toastData, ToastAppearance.Warning);
            return;
        }

        if (!await MdTestDataProvider.TryRenameTest(FileName, TestDataOrigin.Id, TestId)) {
            var toastData = new ToastingData("Could not not rename Test");
            await ToastingProvider.PublishToastAsync(toastData, ToastAppearance.Warning);
            return;
        }

        await ToastingProvider.PublishToastAsync(
        new ToastingData("Test was Renamed", TestId),
        ToastAppearance.Success
        );

        // Re-fetch data
        await OnFetchAsync();

        // Notify parent component about the rename
        await OnSave.InvokeAsync();
    }

    private async Task OnClearAsync() {
        FileName = string.Empty;
        TestId = string.Empty;
        DeveloperNote = string.Empty;
        Context.Content = string.Empty;
        ExpectedHtmlStringSimplified = string.Empty;
        ExpectedMarkdownString = string.Empty;
        ExpectedSyntaxTreeString = string.Empty;
        TestDataOrigin = null;

        await ToastingProvider.PublishToastAsync(
        new ToastingData("Test Cleared"),
        ToastAppearance.Info
        );
    }
}
