@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@namespace InfiniLore.InfiniBlazor.Markdown
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inherits InfiniComponentBase
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<CascadingIsDisabled @bind-Value="EditorContext.IsLocked">
    <div class="@Class border-infini-border flex">
        <textarea
            disabled="@EditorContext.IsLocked"
            class="disabled:text-infini-base-30 disabled:cursor-not-allowed focus:outline-none w-full h-full font-mono overflow-y-auto infini-scrollbar"
            @oninput="@OnInputAsync"
            @ref="@EditorContext.InputElementRef"
            @onkeydown="@OnKeyDownAsync"
        >
            @* WHY DOES VALUE SETTING NOT WORK? and this is the solutions that solves the jumping cursor! *@
            @EditorContext.TextSource.Text 
        </textarea>
    </div>
</CascadingIsDisabled>

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    [CascadingParameter] protected MdEditorContext EditorContext { get; set; } = null!;
    private int _valueHashCode;

    protected override bool ShouldRender() {
        if (!base.ShouldRender()) return false;

        int lastHashCode = _valueHashCode;
        _valueHashCode = EditorContext.TextSource.Text.GetHashCode();
        return _valueHashCode != lastHashCode;
    }
    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
    private async Task OnInputAsync(ChangeEventArgs changeEventArgs) {
        if (EditorContext.IsLocked) return;
        if (changeEventArgs.Value is not string input) return;
        SuppressRendering();

        await EditorContext.InvokeSourceChangeAsync(input).ConfigureAwait(false);
    }

    private async Task OnKeyDownAsync(KeyboardEventArgs args) {
        if (EditorContext.IsLocked) return;
        if (!args.CtrlKey) return;// quick exit to doesn't have to wait on every key press
        SuppressRendering();

        await EditorContext.InvokeInputKeyDownAsync(args).ConfigureAwait(false);
    }
}